<header class="intro bg-mono-400">
  <div class="container">
    <hgroup>
      <h1>{{ header.heading }}</h1>
      <p><strong>{{ header.subheading }}</strong> {% if header.benefit %}{{ header.benefit }}{% endif %}{% if header.content %}{{ header.content }}{% endif %}</p>
      {%- if header.lede -%}<p><strong><a href="#topics">{{ header.lede }}</a></strong> {{ header.topics }}</p>{%- endif -%}
    </hgroup>
    {%- if info -%}
    <div class="list-summary">
      {% for info in info %}
      <dl>
        <dt>{{ info.title }}</dt>
        {% for item in info.items %}
        <dd>{{ item.label }}</dd>
        {% endfor %}
      </dl>
      {% endfor %}
    </div>
    {%- endif -%}
    <!-- <p><b>{{ header.promo.pitch }}</b> {{ header.promo.action }}</p> -->
  </div>
</header>
