<header class="intro bg-mono-400 full-bleed">
  <hgroup>
    <h1>{{ intro.heading }}</h1>
    <p><strong>{{ intro.subheading }}</strong> {% if intro.benefit %}{{ intro.benefit }}{% endif %}{% if intro.content %}{{ intro.content }}{% endif %}</p>
    {%- if intro.lede -%}<p><strong><a href="#topics">{{ intro.lede }}</a></strong> {{ intro.topics }}</p>{%- endif -%}
  </hgroup>
  {%- if intro.info -%}
  <div class="list-summary">
    {% for info in intro.info %}
    <dl>
      <dt>{{ info.title }}</dt>
      {% for item in info.items %}
      <dd>{{ item.label }}</dd>
      {% endfor %}
    </dl>
    {% endfor %}
  </div>
  {%- endif -%}
  <!-- <p><b>{{ intro.promo.pitch }}</b> {{ intro.promo.action }}</p> -->
</header>
