<nav>
  <a href="/" title="{{data.items.config.meta.author}}">
    <img src="{{data.items.config.cms_url}}{{data.items.config.logos.black.main.src}}" srcset="{{data.items.config.cms_url}}{{data.items.config.logos.main.black.srcset}}" alt="{{data.items.config.meta.author}}">
  </a>
  <div class="wrapper">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      {%- for link in data.items.config.navigation.main -%}
      <li>
        <a href="{{link.href}}">{{link.title}}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
