@use 'base/breakpoints' as *;
@use 'base/functions' as *;

.site-footer {
  background-color: var(--mono-900);
  color: var(--mono-100);
  padding: 1rem 0;

  nav {
    a {
      font-family: var(--font-family-custom);
    }
  }

  h4 {
    font-family: var(--font-family-custom);
    text-transform: uppercase;
    font-size: 1rem;
  }
}