@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.site-header {
  color: var(--mono-100);
  background-color: var(--mono-900);

  > {
    div:nth-of-type(1) {
      background-color: var(--mono-900);
      box-shadow: -75rem 0 var(--mono-900), 75rem 0 var(--mono-900), -150rem 0 var(--mono-900), 150rem 0 var(--mono-900);
    }

    div:nth-of-type(2) {
      background-color: var(--mono-800);
      box-shadow: -75rem 0 var(--mono-800), 75rem 0 var(--mono-800), -150rem 0 var(--mono-800), 150rem 0 var(--mono-800);
    }
  }

  nav {

    font-family: var(--font-family-custom);
    padding: rem-calc(12 0);
    font-size: rem-calc(16.8);

    ul {
      list-style: none;
      margin: 0;
    }

    li {

      display: block;
      margin: 0;

      a:not(.btn) {
        display: block;
        padding: 1rem;
        margin: auto;
        text-decoration: none;
        // font-weight: normal;
        letter-spacing: 0.1116625ex;

        &:hover,
        &:focus {
          color: var(--secondary-500);
        }

        &.active {
          background-color: var(--mono-800);
          box-shadow: 0 -0.75rem var(--mono-800), 0 0.75rem var(--mono-800);
        }
      }

      .btn {
        font-size: rem-calc(16.8);
      }
    }

    @include breakpoint(medium, max) {
      li {
        border-top: 1px solid var(--mono-700);
      }

      ul:first-child {
        margin-top: 1rem;
      }
    }

    @include breakpoint(medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      a {
        display: inline-flex;
      }

      .wrapper {
        display: inline-flex;
      }

      li {
        display: inline-flex;
        letter-spacing: 0.1ex;

        a {
          padding: 1rem;
          margin: 0 0.5rem;
        }
      }

      ul.auth {
        position: relative;
        margin-left: 1rem;

        // vertical line
        &:before {
          left: -0.5rem;
          position: absolute;
          content: "";
          border-left: rem-calc(1) solid var(--mono-700);
          height: 85%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.secondary {

        a:not(.btn) {
          padding: 0.25rem 0 0.25rem;
          margin: 0 1.5rem 0 0;
          border-bottom: 1px solid transparent;


          &[aria-current="page"] {
            box-shadow: none;
            border-bottom-color: var(--mono-100);

            &:hover,
            &:focus {
              border-bottom-color: var(--secondary-500);
              border-bottom-width: 2px;
              margin-bottom: -1px;
            }
          }
        }
      }
    }
  }
}
