@use 'base/breakpoints' as *;
@use 'base/functions' as *;

.site-header {
  color: var(--neutral-100);
  background-color: var(--dark-100);

  [class*='bg-dark'] {
    box-shadow: -75rem 0 var(--dark-100), 75rem 0 var(--dark-100), -150rem 0 var(--dark-100), 150rem 0 var(--dark-100);
  }

  [class*='bg-neutral'] {
    box-shadow: -75rem 0 var(--neutral-900), 75rem 0 var(--neutral-900), -150rem 0 var(--neutral-900), 150rem 0 var(--neutral-900);
  }

  nav {

    font-family: var(--font-family-custom);
    padding: rem-calc(12 0);
    font-size: rem-calc(16);
  
    ul {
      list-style: none;
      margin: 0;
    }
  
    li {
      
      display: block;
      margin: 0;
  
      a:not(.button) {
        display: block;
        padding: 1rem;
        margin: auto;
        text-decoration: none;
        // font-weight: normal;
        letter-spacing: 0.1116625ex;

        &:hover,
        &:focus {
          color: var(--secondary-100);
        }

        &.active {
          background-color: var(--neutral-900);
          box-shadow: 0 -0.75rem var(--neutral-900), 0 0.75rem var(--neutral-900);
        }
      }
    }

    @include breakpoint(medium, max) {
      li {
        border-top: 1px solid var(--neutral-700);
      }

      ul:first-child {
        margin-top: 1rem;
      }
    }
  
    @include breakpoint(medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      a {
        display: inline-flex;
      }

      .wrapper {
        display: inline-flex;
      }

      li {
        display: inline-flex;
  
        a {
          padding: 1rem;
          margin: 0 0.5rem;
        }
      }

      ul.auth {
        &:before {
          content: "";
          padding: rem-calc(12 0);
          margin: rem-calc(0 16 0 15);
          border-left: 1px solid var(--neutral-700);
        }
      }

      &.secondary {

        a:not(.button) {
          padding: 0.25rem 0 0.25rem;
          margin: 0 1.5rem 0 0;
          border-bottom: 1px solid transparent;
          

          &[aria-current="page"] {
            box-shadow: none;
            border-bottom-color: var(--neutral-100);

            &:hover,
            &:focus {
              border-bottom-color: var(--secondary-100);
              border-bottom-width: 2px;
              margin-bottom: -1px;
            }
          }
        }
      }
    }
  }
}