@use "base/functions" as *;

@use "base/buttonish";

.btn {
  /*
  - Learning: "Launch Tour" button/link
  */
  &-link {
    background: none;
    text-decoration: underline;
    color: var(--mono, 100);
    border: transparent;
    border-radius: 0;

    &:hover {
      background-color: transparent;
      color: var(--primary);
    }
  }

  /*
  - Learner Dashboard: For the "Refine" button
  - Learning: "Expand All" button
  */

  &-outline-primary {
    padding: rem-calc(9 16);
    color: var(--primary);
    border-color: (var(--primary));
    background-color: transparent;
    display: initial;
  }
}

// Close button mess copied from authn
$color_1: #000;
$background-color_1: #0000;

.close {
  color: $color_1;
  font-size: 1.6875rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.5;
  text-shadow: 0 1px 0 #fff;
  float: right;
  &:hover {
    color: $color_1;
    text-decoration: none;
  }
  &:not(:disabled) {
    &:not(.disabled) {
      &:focus {
        opacity: 0.75;
      }
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
button.close {
  background-color: $background-color_1;
  border: 0;
  padding: 0;
}
a.close.disabled {
  pointer-events: none;
}
