@use 'base/functions' as *;

@use 'base/buttonish';

.btn {
  
  /*
  - Learning: "Launch Tour" button/link
  */
  &-link {
    background: none;
    text-decoration: underline;
    color: var(--mono, 100);
    border: transparent;
    border-radius: 0;

    &:hover {
      background-color: transparent;
      color: var(--primary);
    }
  }

  /*
  - Learner Dashboard: For the "Refine" button
  - Learning: "Expand All" button
  */

  &-outline-primary {
    padding: rem-calc(9 16);
    color: var(--primary);
    border-color: (var(--primary));
    background-color: transparent;
    display: initial;
  }
}


// Close button mess copied from authn
.close {
  color: #000;
  font-size: 1.6875rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.5;
  text-shadow: 0 1px 0 #fff;
}
[dir="ltr"] .close {
  float: right;
}
[dir="rtl"] .close {
  float: left;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
button.close {
  background-color: #0000;
  border: 0;
  padding: 0;
}
a.close.disabled {
  pointer-events: none;
}
