@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// Course Header below 2ndary nav in MFEs
.course-header {
  background-color: var(--mono-600);
  padding: 1rem 0;

  span {
    display: inline-block;
    font-weight: bold;

    &:first-of-type {
      margin-right: 1rem !important;
    }

    &.course-id {
      display: none;
    }

    &.course-title {
      font: 900 1.8rem/1.15 var(--font-family-custom);
      text-transform: uppercase;
      letter-spacing: 0.0125ex;
      word-spacing: 0.25ex;
    }
  }

}
