@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;


// course tab nav
#courseTabsNavigation.course-tabs-navigation {
  margin: 0 auto;
  background: transparent;
  padding: 0;
  width: 100%;

  nav {
    padding: 1.4rem 0;

    a {
      display: inline-block;
      font: bold 1.2rem/1.15 var(--font-family-custom);
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;
      border-bottom: 1px solid currentColor;
      margin-bottom: 1px;
      cursor: pointer;

      &:not(:last-child) {
        margin-left: 1.4rem;
      }

      &:hover,
      &:focus,
      &.active {
        border-bottom-width: 2px;
        margin-bottom: -2px;
      }
    }
  }
}
