
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  border-bottom: 0;
  border-left: 0.3em solid #0000;
  border-right: 0.3em solid #0000;
  border-top: 0.3em solid;
  display: inline-block;
  vertical-align: 0.255em;
}
.dropdown-toggle:after {
  margin-left: 0.255em;
}
.dropdown-toggle:after {
  margin-right: 0.255em;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-toggle:empty:after {
  margin-right: 0;
}
.dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #00000026;
  border-radius: 0.375rem;
  color: #454545;
  display: none;
  font-size: 1.125rem;
  list-style: none;
  margin: 0.125rem 0 0;
  min-width: 18rem;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu {
  float: left;
  left: 0;
  text-align: left;
}
.dropdown-menu {
  float: right;
  right: 0;
  text-align: right;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-menu-right,
.dropdown-menu-left {
  left: auto;
  right: 0;
}
.dropdown-menu-right {
  left: 0;
  right: auto;
}
@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    left: 0;
    right: auto;
  }
  .dropdown-menu-sm-right,
  .dropdown-menu-sm-left {
    left: auto;
    right: 0;
  }
  .dropdown-menu-sm-right {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    left: 0;
    right: auto;
  }
  .dropdown-menu-md-right,
  .dropdown-menu-md-left {
    left: auto;
    right: 0;
  }
  .dropdown-menu-md-right {
    left: 0;
    right: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    left: 0;
    right: auto;
  }
  .dropdown-menu-lg-right,
  .dropdown-menu-lg-left {
    left: auto;
    right: 0;
  }
  .dropdown-menu-lg-right {
    left: 0;
    right: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    left: 0;
    right: auto;
  }
  .dropdown-menu-xl-right,
  .dropdown-menu-xl-left {
    left: auto;
    right: 0;
  }
  .dropdown-menu-xl-right {
    left: 0;
    right: auto;
  }
}
@media (min-width: 1400px) {
  .dropdown-menu-xxl-left {
    left: 0;
    right: auto;
  }
  .dropdown-menu-xxl-right,
  .dropdown-menu-xxl-left {
    left: auto;
    right: 0;
  }
  .dropdown-menu-xxl-right {
    left: 0;
    right: auto;
  }
}
.dropup .dropdown-menu {
  bottom: 100%;
  margin-bottom: 0.125rem;
  margin-top: 0;
  top: auto;
}
.dropup .dropdown-toggle:after {
  border-bottom: 0.3em solid;
  border-left: 0.3em solid #0000;
  border-right: 0.3em solid #0000;
  border-top: 0;
  content: "";
  display: inline-block;
  vertical-align: 0.255em;
}
.dropup .dropdown-toggle:after {
  margin-left: 0.255em;
}
.dropup .dropdown-toggle:after {
  margin-right: 0.255em;
}
.dropup .dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropup .dropdown-toggle:empty:after {
  margin-right: 0;
}
.dropright .dropdown-menu {
  margin-top: 0;
  top: 0;
}
.dropright .dropdown-menu {
  left: 100%;
  margin-left: 0.125rem;
  right: auto;
}
.dropright .dropdown-menu {
  left: auto;
  margin-right: 0.125rem;
  right: 100%;
}
.dropright .dropdown-toggle:after {
  border-bottom: 0.3em solid #0000;
  border-top: 0.3em solid #0000;
  content: "";
  display: inline-block;
  vertical-align: 0.255em;
}
.dropright .dropdown-toggle:after {
  border-left: 0.3em solid;
  border-right: 0;
  margin-left: 0.255em;
}
.dropright .dropdown-toggle:after {
  border-left: 0;
  border-right: 0.3em solid;
  margin-right: 0.255em;
}
.dropright .dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropright .dropdown-toggle:empty:after {
  margin-right: 0;
}
.dropright .dropdown-toggle:after {
  vertical-align: 0;
}
.dropleft .dropdown-menu {
  margin-top: 0;
  top: 0;
}
.dropleft .dropdown-menu {
  left: auto;
  margin-right: 0.125rem;
  right: 100%;
}
.dropleft .dropdown-menu {
  left: 100%;
  margin-left: 0.125rem;
  right: auto;
}
.dropleft .dropdown-toggle:after {
  content: "";
  display: inline-block;
  vertical-align: 0.255em;
}
.dropleft .dropdown-toggle:after {
  margin-left: 0.255em;
}
.dropleft .dropdown-toggle:after {
  margin-right: 0.255em;
}
.dropleft .dropdown-toggle:after {
  display: none;
}
.dropleft .dropdown-toggle:before {
  border-bottom: 0.3em solid #0000;
  border-top: 0.3em solid #0000;
  content: "";
  display: inline-block;
  vertical-align: 0.255em;
}
.dropleft .dropdown-toggle:before {
  border-right: 0.3em solid;
  margin-right: 0.255em;
}
.dropleft .dropdown-toggle:before {
  border-left: 0.3em solid;
  margin-left: 0.255em;
}
.dropleft .dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropleft .dropdown-toggle:empty:after {
  margin-right: 0;
}
.dropleft .dropdown-toggle:before {
  vertical-align: 0;
}
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="top"] {
  bottom: auto;
}
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="top"] {
  right: auto;
}
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="top"] {
  left: auto;
}
.dropdown-divider {
  border-top: 1px solid #ebebeb;
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
}
.dropdown-item {
  background-color: #0000;
  border: 0;
  clear: both;
  color: #212529;
  display: block;
  font-weight: 400;
  padding: 0.25rem 1rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f0eeed;
  color: #16181b;
  text-decoration: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #0a3055;
  color: #fff;
  text-decoration: none;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  background-color: #0000;
  color: #707070;
  pointer-events: none;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-header {
  color: #707070;
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.dropdown-item-text {
  color: #212529;
  display: block;
  padding: 0.25rem 1rem;
}

.dropdown-toggle:after {
  border: 0;
  border-style: solid;
  content: "";
  height: 0.45rem;
  margin-inline-start: 0.5em;
  position: relative;
  top: -0.05rem;
  width: 0.45rem;
}

.dropdown-toggle:after {
  border-width: 0.15rem 0.15rem 0 0;
  transform: rotate(135deg);
}
.dropdown-toggle:after {
  border-width: 0.15rem 0 0 0.15rem;
  transform: rotate(-135deg);
}
.dropdown-item {
  text-align: right;
}
[dir="rtl"] .dropdown-item {
  text-align: left;
}
.pgn__dropdown-toggle-iconbutton {
  white-space: nowrap;
}
.pgn__dropdown-item {
  align-items: center;
  display: flex;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-before {
  margin-inline-end: 0.5rem;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-before {
  margin-left: -0.25em;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-before {
  margin-right: -0.25em;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-before {
  margin-left: 0.5rem;
  margin-right: -0.25em;
}
[dir="rtl"] .pgn__dropdown-item .pgn__dropdown-item__icon-before {
  margin-left: -0.25em;
  margin-right: 0.5rem;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-after {
  margin-inline-start: 0.5rem;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-after {
  margin-right: -0.25em;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-after {
  margin-left: -0.25em;
}
.pgn__dropdown-item .pgn__dropdown-item__icon-after {
  margin-left: -0.25em;
  margin-right: 0.5rem;
}
[dir="rtl"] .pgn__dropdown-item .pgn__dropdown-item__icon-after {
  margin-left: 0.5rem;
  margin-right: -0.25em;
}


// Dropdown in nav tabs when screens become tiny

.pgn__dropdown-dark .dropdown-menu {
  background-color: #939f97;
  color: #fff;
}
.pgn__dropdown-dark .dropdown-menu .pgn__dropdown-item {
  color: #fff;
  font-weight: 400;
}
.pgn__dropdown-dark .dropdown-menu .pgn__dropdown-item:hover {
  background-color: #c9cfcb;
}
.pgn__dropdown-dark .dropdown-menu .pgn__dropdown-item.active {
  background-color: #f0eeed;
  color: #082644;
  font-weight: 700;
}
.pgn__dropdown-dark .dropdown-menu .pgn__dropdown-item:focus {
  background-color: inherit;
  border: 2px solid #fff;
}
.pgn__dropdown-dark .dropdown-menu .dropdown-header {
  color: #b4b1af;
}
.pgn__dropdown-dark .dropdown-menu .dropdown-divider {
  border-color: #c9cfcb;
}