{%- if module -%}
  {%- if module_type -%}
    {%- set partial -%}./partial-{{ module_type }}.njk{%- endset -%}

    {%- if module_type == 'course' -%}
      {%- set data_source = collections.catalog -%}
    {%- elif module_type == 'instructor' -%}
      {%- set data_source = bios -%}
    {%- endif -%}

    {%- if (module.id and module.id | is_string) -%}
      {%- set filteredId = data_source | get_key(module.id) -%}

      {%- include partial -%}

    {%- elif module.ids -%}
      {%- for idx in range(0, module.ids.length) -%}
        {%- set filteredId = data_source | get_key(module.ids[idx].id) -%}
        {%- set section_id = module.ids[idx].section_id -%}

        {%- include partial -%}

      {%- endfor -%}
    {%- endif -%}
  {%- else -%}
    <em>{ Error }</em>
    <p>You must specify a module_type</p>
  {%- endif -%}
  
{%- else -%}
  <em>{ Design Systems Custom Panel Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
