{%- set obj = bios[filteredId] -%}
<section class="{{ module_type }}" id="{{ module_type }}">
  <header>
    <h2 class="caps">Meet the Instructor</h2>
  </header>
  <h3 class="caps">{{ obj.name }}</h3>
  <img
    class="headshot"
    alt="Image of {{ obj.name }}"
    src="{{ obj.img }}"
    width="1280"
    height="1024"
    decoding="async"
  >
  {{ obj.extended_description | safe }}
</section>
<!--
<footer class="back-to">
  <p><a href="#main">Back to Top</a></p>
</footer>
 -->
