{%- set obj = bios[filteredId] -%}
<section id="{{ module_type }}" class="{{ module_type }}">
  <header>
    <h2 class="caps">Meet the Instructor</h2>
  </header>
  <h3 class="caps">{{ obj.name }}</h3>
  <img
    class="headshot"
    alt="Image of {{ obj.name }}"
    src="{{ obj.img }}"
    width="180"
    height="180"
    decoding="async"
  >
  {{ obj.extended_description | safe }}
</section>
