---
layout: layouts/main.njk
pagination:
  data: data.blog
  size: 1
  alias: item
  generatePageOnEmptyData: true
  before:
permalink: "/blog/{{ item.title | slugify }}-{{ item.guid | replace('https://medium.com/p/','') }}/"
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ item.title }} | Blog"
  description: "{{ item.description }}"
  canonicalUrl: "{{ item.link }}"
---
<article class="medium-article">
  <h1>{{ item.title }}</h1>
  {# TODO: write a more elegant solution for external vs internal hrefs #}
  {{ item['content:encoded'] | replace('href','rel="nofollow" target="_blank" href') | safe }}
</article>
