{%- set obj = collections.catalog[filteredId] -%}
{%- set path = obj.id | get_path -%}
{%- set img = obj.img -%}
{%- set title = obj.title | strip_html -%}

{%- if obj.subtitle -%}
  {%- set subtitle = obj.subtitle | strip_html -%}
{%- elif module.subtitle -%}

  {%- if module.subtitle | is_string -%}
    {%- set subtitle = module.subtitle -%}
  {%- elif module.subtitle | is_object -%}
    {% set key = module.subtitle.key %}
    {% set collect = collections[module.subtitle.data] %}
    {{collect.key}}

    {%- set subtitle -%}{%- if module.subtitle['pre'] -%}{{ module.subtitle['pre'] }} {% endif -%}{{ bios[obj.instructor]['name'] }}{%- if module.subtitle['post'] -%} {{ module.subtitle['post'] }}{% endif -%}{%- endset -%}
  {%- endif -%}
{%- endif -%}

{%- set description = obj.description -%}

{%- if obj.slug -%}
  {%- set slug = obj.slug -%}
{%- else -%}
  {%- set slug = title | slugify -%}
{%- endif -%}

{%- set shortId = obj.id -%}
{%- set type = obj.type -%}

{# TODO: standardize image locations for ease of development #}
{%- set src = config.urls.cms + img -%}
{%- if type === 'webinar' -%}
  {%- set src = config.urls.cms + '/img/webinars/' +  slug + '.jpg' -%}
{%- endif -%}

{%- set srcSet = src -%}

<section id="{{ shortId | lower }}">
  <header>
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </header>
  <figure>
    <img style="max-width: 5rem;" alt="{{ title }}" srcset="{{ srcSet }}" src="{{ src }}">
  </figure>
  <div>
    {%- if description -%}
      <p>{{ description }}</p>
    {%- endif -%}
    {%- if module.cta -%}
      <div class="cta">
        <a class="{{ module.cta.type }}" href="{{ path }}{{ slug }}">{{ module.cta.label }}</a>
      </div>
    {%- endif -%}
    {%- if (obj.skills) -%}
      <div class="skills">
        <h3>Skills Covered</h3>
        <ul>
        {%- for i in range(0, obj.skills.length) -%}
          <li>{{ obj.skills[i].label }}</li>
        {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    {%- if (obj.audience) -%}
      <div class="audience">
        <h3>This Course is For</h3>
        <ul>
        {%- for i in range(0, obj.audience.length) -%}
          <li>{{ obj.audience[i].label }}</li>
        {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>
</section>