{%- set obj = collections.catalog[filteredId] -%}
{%- set img = obj.img -%}
{%- set title = obj.title | strip_html -%}

{%- set path = "/courses/course-v1:" + obj.id | replace('-','+') + "+0/about" -%}
{%- set url = config.urls.mfe + path -%}
{%- if (env.ELEVENTY_ENV == ('local' or 'dev') and config['ports']['course_about']) %}
  {%- set url -%}
    {{ config.urls.mfe }}:{{ config['ports']['course_about'] }}{{ path }}
  {%- endset -%}
{% endif -%}

{%- if obj.subtitle -%}
  {%- set subtitle = obj.subtitle | strip_html -%}
{%- elif module.subtitle -%}

  {%- if module.subtitle | is_string -%}
    {%- set subtitle = module.subtitle -%}
  {%- elif module.subtitle | is_object -%}
    {% set key = module.subtitle.key %}
    {% set collect = collections[module.subtitle.data] %}
    {{collect.key}}

    {%- set subtitle -%}{%- if module.subtitle['pre'] -%}{{ module.subtitle['pre'] }} {% endif -%}{{ bios[obj.instructor]['name'] }}{%- if module.subtitle['post'] -%} {{ module.subtitle['post'] }}{% endif -%}{%- endset -%}
  {%- endif -%}
{%- endif -%}

{%- set description = obj.description -%}

{%- if obj.slug -%}
  {%- set slug = obj.slug -%}
{%- else -%}
  {%- set slug = title | slugify -%}
{%- endif -%}

{%- set shortId = obj.id -%}
{%- set type = obj.type -%}

{%- set src = config.urls.data + img -%}
{%- set srcSet = src -%}

<section id="{{ shortId | lower }}">
  <header>
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </header>
  <figure>
    <img style="max-width: 5rem;" alt="{{ title }}" srcset="{{ srcSet }}" src="{{ src }}">
  </figure>
  <div>
    {%- if description -%}
      <p>{{ description }}</p>
    {%- endif -%}
    <div class="cta">
      <a class="btn" href="{{ url }}">View Course</a>
    </div>
    {%- if (obj.skills) -%}
      <div class="skills">
        <h3>Skills Covered</h3>
        <ul>
        {%- for i in range(0, obj.skills.length) -%}
          <li>{{ obj.skills[i].label }}</li>
        {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    {%- if (obj.audience) -%}
      <div class="audience">
        <h3>This Course is For</h3>
        <ul>
        {%- for i in range(0, obj.audience.length) -%}
          <li>{{ obj.audience[i].label }}</li>
        {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>
</section>