{%- if module -%}
  {%- if (module.id and module.id | is_string) -%}
      {%- set filteredId = collections.catalog | get_key(module.id) -%}

      {%- include './partial-tutorial.njk' -%}

  {%- elif module.ids -%}
    {%- for idx in range(0, module.ids.length) -%}
      {%- set filteredId = collections.catalog | get_key(module.ids[idx].id) -%}

      {%- include './partial-tutorial.njk' -%}

    {%- endfor -%}
  {%- endif -%}
{%- else -%}
  <em>{ Panel Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
