---
layout: layouts/main.njk
permalink: /webinars/
title: Webinars
sitemapPriority: 0.5
sitemapChangeFreq: monthly
---

<h1>Webinars</h1>
<p>Insightful conversations with trailblazers in the web community.</p>

{%- if webinars -%}
<ul>
  {%- for webinar in webinars | sortDataByDate('event_date') | reverse -%}
  <li>
    <header>
      <span>{{ webinar.id }}</span>
      {# DEBUG<br>
        Event Date: <time datetime="{{ webinar.event_date }}">{{ webinar.event_date }}</time><br>
        Date: <time datetime="{{ webinar.date }}">{{ webinar.date }}</time> #}
      <p>{{ webinar.content_category }}</p>
      <h2>{{ webinar.title | safe }}</h2>
    </header>
    <p>{{ webinar.event_guests | safe }}</p>
    <a href="/webinars/{{ webinar.slug }}">Watch Recording</a>
  </li>
  {%- endfor -%}
</ul>
{%- else -%}
  <p>No webinars found!!</p>
{%- endif -%}
