// | -------------------------------------------------------------
// | Background Utility Classes
// | -------------------------------------------------------------

@use "colors" as *;

// we now use a separate color map for background colors to avoid CSS bloat.
@each $color, $shades in $bg-colors {
  @if (length($shades) > 1) {
    @each $shade, $value in $shades {
      .bg-#{$color}-#{$shade} {
        background-color: var(--#{$color}-#{$shade});
        --box-shadow-color: var(--#{$color}-#{$shade});

        // Automatically set the color based on the HSL lightness value
        @if lightness($value) > 50% {
          color: var(--mono-900);
        } @else {
          color: var(--mono-100);
        }
      }
    }
  } @else {
    @each $shade, $value in $shades {
      .bg-#{$color} {
        background-color: var(--#{$color}-#{$shade});
      }
    }
  }
}

// Use CSS variables defined above to add box shadow color!
%full-bleed {
  box-shadow: -30rem 0 var(--box-shadow-color), 30rem 0 var(--box-shadow-color), -70rem 0 var(--box-shadow-color), 70rem 0 var(--box-shadow-color), -140rem 0 var(--box-shadow-color), 140rem 0 var(--box-shadow-color);
}
.full-bleed {
  @extend %full-bleed;
}
