// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------
// @debug hsl(#0077c8);

$colors: (
  primary: (
    100: hsl(204, 100%, 39%), // #0077c8
  ),
  secondary: (
    100: hsl(19, 100%, 54%), // #ff5f14
    900: hsl(18.26, 100%, 95.49%), // #ffefe8 (message: attention)
  ),
  mono: (
    100: hsl(0 0% 100%), // white
    200: hsl(0 0% 92%), // #ebebeb
    300: hsl(0, 0%, 82%), // #d2d2d2
    400: hsl(0, 0%, 80%), // #ccc
    500: hsl(0, 0%, 73%), // #bbb
    550: hsl(0, 0%, 40%), // #666
    600: hsl(0, 0%, 27%), // #444
    700: hsl(0, 0%, 20%), // #333
    800: hsl(0, 0%, 16%), // #292929
    900: hsl(0, 0%, 9%), // #181818
  ),
);
