// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------
// @debug hsl(#0077c8);

$colors: (
  primary: (
    100: hsl(204, 100%, 39%), // #0077c8
  ),
  secondary: (
    100: hsl(19, 100%, 54%), // #ff5f14
  ),
  neutral: (
    100: hsl(0 0% 100%), // white
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(0, 0%, 16%), // #292929
  ),
  dark: (
    100: hsl(0, 0%, 9%), // #181818
  ),
);
