---
layout: layouts/main.njk
permalink: /webinars/
title: Webinars
---
<h1>Webinars</h1>
<p>This is the webinars index.</p>
<ul>
{% for id, webinar in webinars %}
  <li><a href="/webinars/{{ webinar.slug }}" >{{ webinar.title | strip_html }}</a></li>
{% endfor %}
</ul>
