---
layout: layouts/main.njk
pagination:
  data: webinars
  size: 1
  alias: webinar
  resolve: values
permalink: "webinars/{{ webinar.slug }}/"
eleventyComputed:
  title: "{{ webinar.title | strip_html }} | Webinars"
---
<h1>{{ webinar.title | safe }}</h1>
<p>{{ webinar.event_guests | safe }}</p>
<p>{{ webinar.description }}</p>

Host:
<p>{{ bios[webinar.host]['name'] }}</p>
<p>{{ bios[webinar.host]['subtitle'] }}</p>
<p>{{ bios[webinar.host]['description'] }}</p>

Speakers:

{%- if webinar.speaker[0] -%}
  <p>{{ bios[webinar.speaker[0]]['name'] }}</p>
  <p>{{ bios[webinar.speaker[0]]['subtitle'] }}</p>
  <p>{{ bios[webinar.speaker[0]]['description'] }}</p>
{%- endif -%}

{%- if webinar.speaker[1] -%}
  <p>{{ bios[webinar.speaker[1]]['name'] }}</p>
  <p>{{ bios[webinar.speaker[1]]['subtitle'] }}</p>
  <p>{{ bios[webinar.speaker[1]]['description'] }}</p>
{%- endif -%}

{%- if webinar.content -%}
  <p>{{ webinar.content | safe }}</p>
{%- endif -%}

{%- if webinar.video_id -%}
  {%- youtube webinar.video_id -%}
{%- endif -%}
