---
layout: layouts/base.njk
pagination:
    data: data.items.webinars
    size: 1
    alias: webinar
permalink: "webinars/{{ webinar.title | slugify }}/"
title: Webinars
---
<h1>{{ webinar.title }}</h1>
<h4>{{ webinar.id }}</h4>
<p>{{ webinar.description }}</p>
{{ content | safe }}
