@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;


// Collections page-specific style rules

.collection {
  main {
    .container {
      > header {
        h1 {
          font-size: rem-calc(36);
          text-rendering: auto;
        }

        p {
          font-size: rem-calc(20);
        }
      }
    }

    section:not(.featured) {
      background-color: var(--mono-100);
      padding: 1.4rem;
      border: 1px solid var(--mono-400);
      border-radius: 3px;
      margin-top: 1rem;

      > header {
        padding-bottom: 1.4rem;
        border-bottom: 1px solid var(--mono-300);
        margin-bottom: 1.4rem;
      }

      h2,
      &.jobs h1 {
        font-size: 1.8rem;
        line-height: 1.15;
        text-transform: uppercase;
      }

      // TODO: Update job module text?

      &.jobs h1:after {
        content: " Jobs";
      }

      p {
        font-size: 1.09375rem;
      }

      li {
        font-size: 1.3125rem;
      }

      .artwork {
        border: 1px solid var(--mono-300);
      }

      .cta {
        text-align: center;
        padding-top: 1.4rem;
        border-top: 1px solid var(--mono-300);
        margin-top: 1.4rem;
      }
    }

    .featured,
    .courses,
    .tutorials,
    .webinars {

      ul {
        display: grid;
        gap: 1.4rem;
      }

      h3 {
        font-family: var(--font-family-default);
        font-size: 1.375rem;
        line-height: 1.35;
        margin-bottom: 0;
      }

    }

    .tutorials,
    .webinars {

      figure + h3 {
        margin-top: 0.6rem;
      }

    }

    .courses {

      ul {

        @include breakpoint(medium, min) {
          grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        }

        li {
          display: inherit;
          grid-template-columns: 1fr 3fr;
          gap: inherit;
          align-items: center;
        }
      }

    }

    .tutorials,
    .webinars {

      ul {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }

    }

    .webinars {

      .artwork {
        height: 0;
        padding-bottom: 62.5%;
        overflow: hidden;
      }

    }

    .articles {
      header {
        border-bottom: 1px solid var(--mono-300);

        & ~ div:not(:only-of-type) {
          margin-top: 1.4rem;
        }

        h2:only-child {
          margin-bottom: 0;
        }

        h3 {
          font-size: 1.375rem;
          font-weight: 900;
        }
      }

      ul {
        li {
          padding-bottom: 1.2rem;
          border-bottom: 1px dashed var(--mono-300);
          margin-top: 1.2rem;

          cite {
            font-style: normal;
            font-weight: bold;
          }
        }
      }
    }
  }

  // Collections featured section

  .featured {
    margin: 1.4rem 0;

    ul {

      @include breakpoint(medium, min) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }

    }

    article {
      display: grid;
      grid-auto-rows: 1fr auto;
      height: 100%;

      > div {
        display: inherit;
        grid-template-rows: auto auto 1fr auto;
        background-color: var(--mono-100);
        padding: 1.4rem;
        border: 1px solid var(--mono-400);
        border-radius: 3px;
      }

      .topic {
        font: 900 1.8rem/1 var(--font-family-custom);
        text-transform: uppercase;
        letter-spacing: 0.0125ex;
        word-spacing: 0.25ex;

        b {
          font: inherit;
        }
      }

      figure {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        margin: 1.4rem -1.4rem 1.2rem;
        overflow: hidden;

        &[style*="courses"] {
          background: var(--mono-400) no-repeat left center;
          background-size: cover;
          border-image: 1 / 0 100% stretch;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-top: 1px solid var(--mono-300);
          border-bottom: 1px solid var(--mono-300);
        }
      }

      h3 {
        font-family: var(--font-family-custom);
        font-weight: 900;
        font-size: 1.55;
        text-transform: uppercase;
        text-wrap: balance;
      }

      .cta {
        margin-top: 1.4rem;
      }

      footer {
        text-align: center;
        margin-top: 1rem;
      }

    }
  }
}

// TODO: Update/move style rules

#jobs {

  #error-results {
    margin-top: 1.4rem;
  }

}
