@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;


// Collections page-specific style rules

.collection {
  main {
    section:not(.featured) {
      background-color: var(--mono-100);
      padding: 1.4rem;
      border: 1px solid var(--mono-400);
      margin-top: 1rem;

      > header {
        padding-bottom: 1.4rem;
        border-bottom: 1px solid var(--mono-300);
        margin-bottom: 1.4rem;
      }

      h2 {
        line-height: 1.15;
        text-transform: uppercase;
      }

      p,
      li {
        font-size: 1.3125rem;
      }

      .artwork {
        border: 1px solid var(--mono-300);
      }

      .cta {
        text-align: center;
        padding-top: 1.4rem;
        border-top: 1px solid var(--mono-300);
        margin-top: 1.4rem;
      }
    }

    .courses,
    .tutorials,
    .webinars {

      ul {
        display: grid;
        gap: 1.4rem;
      }

      h3 {
        font-family: var(--font-family-default);
        font-size: 1.375rem;
        line-height: 1.35;
        margin-bottom: 0;
      }

      .artwork + h3 {
        margin-top: 0.6rem;
      }

    }

    .courses {

      ul {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        li {
          display: inherit;
          grid-template-columns: 1fr 3fr;
          gap: inherit;
          align-items: center;
        }
      }

    }

    .tutorials,
    .webinars {

      ul {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }

    }

    .webinars {

      .artwork {
        height: 0;
        padding-bottom: 62.5%;
        overflow: hidden;

        img {
          margin-top: -6%;
        }
      }

    }

    .articles {
      header {
        border-bottom: 1px solid var(--mono-300);

        &:not(#articles > header:first-child):not(#articles > [class]:first-child header) {
          margin-top: 1.6rem;
        }

        h3 {
          font-size: 1.375rem;
          font-weight: 900;
        }
      }
      ul {
        li {
          padding-bottom: 1.2rem;
          border-bottom: 1px dashed var(--mono-300);
          margin-top: 1.2rem;

          cite {
            font-style: normal;
            font-weight: bold;
          }
        }
      }
    }
  }

  // TODO: style the collections featured section
  .featured {
    ul {

      @include breakpoint(large, min) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
      }
    }
  }
}
