// | -------------------------------------------------------------
// | This file is intended to only serve the Course About MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';

@use 'mfe/root';
@use 'mfe/buttons';

// TODO: remove after refactoring the main element padding thing, etc
.course-about main {
  padding-top: 0;
}

.course-metabar {
  // Anything to add here?
}

.course-type {
  font-size: rem-calc(22.4);
}

.course-header {
  background-color: var(--mono-400);
}

.course-header, .course-overview {
  padding: 2rem 0;
}

.course-intro {
  font-family: $gym-font-stack;
  font-size: rem-calc(25);
  line-height: 1.5;
  letter-spacing: rem-calc(0.256);
  word-spacing: rem-calc(0.512);
}

article {
  section:not(:first-child) {
    border-top: 1px solid var(--mono-300);
    margin-top: rem-calc(19);
  }
}

article {
  h2 {
    letter-spacing: rem-calc(1.152);
    text-transform: uppercase;
  }
  h3 {
    letter-spacing: rem-calc(0.384);
  }
  h2, h3 {
    font-size: rem-calc(19);
    line-height: 1.5;
    margin-top: rem-calc(19);
    word-spacing: rem-calc(0.768);
  }
}

// Line up top of sidebar
@media (min-width: 52em) {
  .course-audience h2 {
    margin-top: 0;
  }
}
