// | -------------------------------------------------------------
// | This file is intended to only serve the Course About MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';

@use 'mfe/root';
@use 'mfe/buttons';

// TODO: remove after refactoring the main element padding thing, etc
.course-about main {
  padding-top: 0;
  padding-bottom: 0;
}

.course-metabar {
  // Anything to add here?
}

.course-title {
  h1 {
    font-size: 2.25rem;
    line-height: 1.15;
    letter-spacing: .05ex;
    text-wrap: balance;

    &:before {
      display: block;
      content: "{{ obj.topic }}";
      font-size: 1.25rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

.course-type {
  font-weight: 900;
  font-family: var(--font-family-custom);
  line-height: 1.15;
  text-transform: uppercase;
  word-spacing: .25ex;

  :after {
    display: inline-block;
    content: "{{ obj.skill_level }}";
    font-weight: normal;
    font-family: var(--font-family-default);
    font-size: 0.9375rem;
    line-height: 1.1;
    letter-spacing: 0.0125ex;
    text-indent: 3ex;
  }
}

.course-cta {
  margin-top: 1.4rem;

  .btn {
    display: inline-block;
    width: 100%;
    max-width: 12rem;
  }
}

.course-header {
  background-color: var(--mono-400);
  padding: 2rem 0;

  figure {
    display: grid;
    text-align: center;
    height: 100%;
    border-image: 2 / 100% stretch;

    img {
      align-self: center;
      justify-self: center;
    }
  }

  @include breakpoint(large, max) {
    .grid-col-1-2 {
      grid-template-columns: 2fr 3fr;
    }
  }

  @media (max-width: 52em) {
    padding: 1.2rem 0;

    .grid-col-1-2 {
      grid-template-columns: none;
      gap: 1.2rem;

      figure {
        img {
         max-width: 50%;
        }
      }
    }

  }
}

.course-intro {
  p {
    font-family: var(--font-family-custom);
    font-size: rem-calc(25);
    line-height: 1.5;
    letter-spacing: rem-calc(0.256);
    word-spacing: rem-calc(0.512);
    margin-top: -0.35rem;
  }
}

.course-about {

  .grid-sidebar {

    .content,
    aside {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }

  }

  article {
    section:not(:first-child) {
      border-top: 1px solid var(--mono-300);
      margin-top: rem-calc(19);
    }

    h2 {
      letter-spacing: rem-calc(1.152);
      text-transform: uppercase;
    }
    h3 {
      letter-spacing: rem-calc(0.384);
    }
    h2,
    h3 {
      font-size: rem-calc(19);
      line-height: 1.25;
      margin-top: rem-calc(19);
      word-spacing: rem-calc(0.768);
    }


    .course-audience {
      h2 {
        margin-top: 0;
      }
    }
  }

}

// Sidebar spacing and rule for small screens

@media (max-width: 52em) {
  .grid-sidebar {
    gap: 1.1875rem;

    aside {
      border-top: 1px solid var(--mono-300);
    }
  }
}
