@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// applied to body class
.home {
  background-color: var(--mono-200);

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  // hero styling (full compiled class name is`.home-hero`)
  &-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2.6em;
  }

  // top/bottom padding for each component of the home page
  article,
  section {
    margin-top: 0 !important; // TODO: refactor the main class to not add padding/margins by default.
    padding: 2rem 0;
  }

  section {
    h1 {
      text-align: center;
    }
    h1 {
      font-size: rem-calc(24.5);
    }
  }
}

.how-gymnasium-works {
  h1, h2 {
    font-weight: 700;
    letter-spacing: rem-calc(1.4);
    color: var(--mono-600);
  }
  

  h2 {
    font-size: rem-calc(24);
    font-style: normal;
    line-height: 1;
  }

  p {
    font-size: rem-calc(18);
    font-family: var(--font-family-default);
    color: var(--mono-500);
  }

  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.6em;
  }
}

.home-featured-courses {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.6em;
  }
}

.home-find-work {

}