@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// applied to body class
.home {
  background-color: var(--mono-200);

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  // top/bottom padding for each component of the home page
  article,
  section {
    margin-top: 0 !important; // TODO: refactor the main class to not add padding/margins by default.
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section {
    h1 {
      text-align: center;
    }
    h1 {
      font-size: rem-calc(24.5);
    }
  }
}

// hero styling (full compiled class name is`.home-hero`)
article.home-hero {
  padding-top: rem-calc(44);
  padding-bottom: rem-calc(68);

  @include breakpoint(large, min) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }

  .subhead {
    font-size: rem-calc(18);
    color: var(--secondary-500);
  }
  h1 {
    font-size: rem-calc(40);
    word-spacing: rem-calc(2);
  }

  p {
    font-size: rem-calc(16);
    font-weight: 700;
  }

  .cta {
    .btn {
      border: rem-calc(2) white solid;
      font-size: rem-calc(23);
    }
  }

  @include breakpoint(large, min) {
    header {
      align-self: center;
    }

    .image {
      min-height: 100%;
      margin: 0;

      & + .text {
        margin-top: 0;
      }
    }
  }
}

.how-gymnasium-works {
  h1, h2 {
    font-weight: 700;
    letter-spacing: rem-calc(1.4);
    color: var(--mono-600);
  }
  

  h2 {
    font-size: rem-calc(24);
    font-style: normal;
    line-height: 1;
  }

  p {
    font-size: rem-calc(18);
    font-family: var(--font-family-default);
    color: var(--mono-500);
  }

  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.6em;
  }
}

.home-featured-courses {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.6em;
  }
}

.home-find-work {

}