@use 'base/breakpoints' as *;
@use 'base/functions' as *;

// applied to body class
.home {
  background-color: var(--mono-200);

  main {
    margin-top: 0;
  }

  // top/bottom padding for each component of the home page
  article,
  section {
    padding: 2rem 0;
  }

  section {
    h1 {
      text-align: center;
    }
  }
}



// .how-gymnasium-works {

//   ul {
//     list-style: none;
//     margin: 0;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 2.6em;
//   }
// }

.home-featured-courses {
  ul {

    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 2.6em;
  }
}

.home-find-work {

}

.as-seen-in {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2.6em;
  }
}