@use 'base/breakpoints' as *;
@use 'base/functions' as *;

article.privacy-policy {

  nav {
    header + ul {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
    }

    ul {
      list-style: disc;
      padding: 1.2rem;
      border-top: 1px dashed var(--mono-300);
      border-bottom: 1px dashed var(--mono-300);
      margin-bottom: 0;
    }

    li:first-child {
      margin-top: 0;
    }
  }

  li {
    max-width: 40rem;
    margin-top: 0.625rem;
    margin-bottom: 0;
  }

  section {
    padding-top: 1.2rem;
    margin-top: 1.2rem;

    h2 {
      margin-top: 0;

      + p {
        margin-top: 1.2rem;
      }
    }
  }

  .note {
    padding: 1.2rem 0;
    border-top: 1px dashed var(--mono-300);
    border-bottom: 1px dashed var(--mono-300);
    margin-top: 1.2rem;
  }

  table {
    tbody {
      tr {
        vertical-align: top;
      }
      td:first-child {
        margin-top: 0.625rem;
      }
      ul:first-child {
        li:first-child {
          margin-top: 0;
        }
      }
    }
  }

  @include breakpoint(medium, max) {
    table {
      table-layout: auto;
      th {
        color: transparent;
        line-height: 0;
        user-select: none;
      }
      tr:first-child td:first-child {
        margin-top: -0.4rem;
      }
      td {
        display: table;
        width: 110%;
      }
      ul {
        margin-top: 0.625rem;
      }
    }
  }

  @include breakpoint(medium, min) {
    table {
      margin-top: 1.2rem;

      tr:last-child {
        td {
          padding-bottom: 0;
        }
      }

      thead {
        border-top: 1px solid var(--mono-900);
        border-bottom: 1px solid var(--mono-900);
        margin-bottom: 1.2rem;

        th {
          padding: 0.625rem 0;
        }
        th + th {
          padding-left: 1.4rem;
        }
      }

      tbody {
        tr {
          border-top: 1px dashed var(--mono-300);
        }
        td {
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
        }
        td + td {
          padding-left: 1.4rem;
          padding-bottom: 1.2rem;
        }
      }
    }
  }

  address {
    padding-top: 1.2rem;

    p {
      margin-top: 0;
      margin-bottom: 0;
     }
  }

}
