---
---
{# Define a unique class per page automatically (meta.bodyClass overrides this) #}
{%- if meta.bodyClass -%}
  {%- set bodyClass = meta.bodyClass -%}
{%- else -%}
  {%- set bodyClass = page.url.slice(1, -1).split('/') | join('-') -%}
{%- endif -%}
<!doctype html>
<html lang="en">
<head>
{% include './components/head.html' %}
</head>
<body class="{{bodyClass}}">
{% include './components/header.html' %}
{{ content | safe }}
{% include './components/footer.html' %}
<script type="module">
import "/is-land.js";
</script>
<script type="module" src="/js/gym.js" async defer></script>
</body>
</html>