<footer id="footer" class="site-footer">
  <div class="container">
    <nav aria-label="Footer Navigation">
    {%- for item in config.navigation.footer -%}
      <div id="{{item.title | slugify}}" class="footer-section {{item.title | slugify}}">
        <h4>{{item.title}}</h4>
        <ul>
          {%- set links =  item.links -%}
          {%- set links =  links | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) | replace("GYM_DATA_URL", config.urls.cms) | replace("GYM_MFE_URL", config.urls.mfe) -%}
          {%- for link in links -%}
          <li><a href="{{link.href}}"{%- if link.target -%} target="{{link.target}}"{%- endif -%}{%- if link.rel -%} rel="{{link.rel}}"{%- endif -%}>{{link.title}}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endfor -%}
    </nav>
    <div class="open-edx">
      <a title="Open edX" href="https://openedx.org" target="_blank" rel="noopener">
        {# TODO: add alt text to config? #}
        <img class="open-edx-logo" alt="Powered by Open edX logo." src="{{ config.urls.cms }}{{ config.logos.openedx.src }}" decoding="async" fetchpriority="low" width="175" height="70">
      </a>
      {# TODO: add locally hosted file to this repo #}
      <a href="https://docs.tutor.overhang.io" target="_blank" rel="noopener">
        <img src="{{ config.urls.lms }}/static/gym-theme/images/tutor-logo.png" alt="Runs on Tutor" width="125">
        </a>
    </div>
    <div class="copyright"><small>&copy; {% year %}  <a href="{{ config.urls.root }}">{{ config.meta.author }}</a></small></div>
    
  </div><!-- .container -->
</footer>
