<nav class="main" role="navigation" aria-label="Main">
  <a href="/">
    <img src="{{config.logos.main.white.src}}" srcset="{{config.logos.main.white.srcset}}" alt="{{config.meta.author}} Home">
  </a>
</nav>
