<nav class="main" role="navigation" aria-label="Main">
  <a href="/">
    <img src="{{config.urls.data}}{{config.logos.white.main.src}}" srcset="{{config.urls.data}}{{config.logos.main.white.srcset}}" alt="{{config.meta.author}} Home">
  </a>
  <div class="wrapper">
    <ul role="list">
      {%- for link in config.header.nav.main | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) | replace("GYM_MFE_URL", config.urls.mfe) -%}
      <li>
        <a href="{{link.href}}"{%- if (link.href in permalink) or (nav.parent in link.href) -%} class="active" aria-current="page" {%- endif -%}>{{link.label}}</a>
      </li>
      {%- endfor -%}
    </ul>


{%- set auth %}
  {%- for link in config.header.nav.auth.private | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) -%}
    <li>
      <a href="{{link.href}}"{%- if link.class -%} class="{{link.class}}"{%- endif -%}>{{link.label}}</a>
    </li>
  {%- endfor -%}
{% endset %}

    <ul class="auth" role="list">

<is-land on:ready>
  {%- for link in config.header.nav.auth.public | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) -%}
    <li>
      <a href="{{link.href}}"{%- if link.class -%} class="{{link.class}}"{%- endif -%}>{{link.label}}</a>
    </li>
  {%- endfor -%}
  
{% edge "njk", auth %}
  {% if eleventy.edge.cookies.edxloggedin %}
    <template data-island="replace">
    <!-- edxloggedin:{{ eleventy.edge.cookies.edxloggedin }} -->
    {{ _ | safe }}
    </template>
  {% endif %}
{% endedge %}
  
</is-land>

    </ul>
    
  </div>
</nav>
