---
layout: layouts/main.njk
permalink: /courses/full/
collection: course
meta:
  title: Courses
  sitemapPriority: 0.7
  sitemapChangeFreq: weekly
nav:
  secondary: courses
  parent: "/courses/"
intro:
  heading: Full Courses
  subheading: Free online courses and tutorials.
  content: Learn design, development, UX, accessibility, and career skills from industry experts.
---
<header>
  <h1>{{ intro.heading }}</h1>
  <p><strong>{{ intro.subheading }}</strong> {{ intro.content }}</p>
</header>

<h2>Full Courses</h2>
<ul>
{% for course in collections.live_courses_full %}
  <li>{{ course.id }} | 
    <a href="/courses/{{ course.title | slugify }}">
      {{ course.title }}
      <img style="max-width: 5rem;" src="{{config.urls.cms}}{{course.img}}" alt="Image for {{course.title}}">
    </a>
  </li>
{% endfor %}
</ul>
