---
permalink: /js/gym.js
eleventyExcludeFromCollections: true
---
{# Add JS scripts here. They will get compiled into the gym.js file for use on every page. #}
{% include "node_modules/@11ty/is-land/is-land.js" %}
{% include "js/cookies.js" %}
{% include "js/main.js" %}
