---
layout: layouts/main.njk
pagination:
  data: bios
  size: 1
  alias: bio
  resolve: values
permalink: "instructors/{{ bio.name | slugify }}/"
eleventyComputed:
  title: "{{ bio.name }} | Instructors"
---
<h1>{{ bio.name }}</h1>
<h4>{{ bio.subtitle }}</h4>
<p>{{ bio.description | safe }}</p>
<img src="{{ config.cms_url }}/img/webinar-bio-headshots/{{ bio.img }}" alt="Image of {{ bio.name }}">