---
layout: layouts/main.njk
meta:
  title: "404: Page Not Found"
  sitemapExclude: true
eleventyExcludeFromCollections: true
permalink: 404.html
---
{%- set intro = pages['404'].intro -%}
{%- set main = pages['404'].main -%}
<div class="main-panel">

  <article>
    <header id="{{ id }}" class="main-header {{ id }}">
      <h1>{{ intro.heading }}</h1>
      <p>{{ intro.description | safe }}</p>
    </header>
    {%- set body_text = main.body_text -%}
    {%- for text in body_text  -%}
    <p>{{ text }}</p>
    {%- endfor -%}
    {%- set links = main.links -%}
    <ul>
    {%- for link in links -%}
      <li><a href="{{ link.url }}">{{ link.label }}</li></a>
    {%- endfor -%}
    </ul>
    <p>{{ main.contact | safe}}</p>
  </article>

</div>
