---javascript
module.exports = {
  layout: 'layouts/main.njk',
  permalink: '/about/',
  eleventyComputed: {
    title: (data) => `About`,
    imported: (data) => {

    }
  }
}
---
{# Note:
Here is an example of using a YAML file to generate tags and content(!) 
This generally works best with a straightforward, top-down layout, but this approach could be leveraged for more complex layouts.
#}
{%- set items = pages['about'] -%}
{%- for id, section in items -%}
  <section id="{{ id }}" class="page-section {{ id }}">
    {%- for tag, item in section -%}
      {%- if tag !== 'video_id' -%}
        <{{ tag }}>{{ item | safe }}</{{ tag }}>
      {%- else -%}
        {%- youtube item -%}
      {%- endif -%}
    {%- endfor -%}
  </section>
{%- endfor -%}