---
layout: layouts/main.njk
permalink: /
eleventyComputed:
  meta:
    title: "{{ config.meta.subtitle }}"
meta:
  sitemapPriority: 1.0
  sitemapChangeFreq: weekly
  bodyClass: home
---
{%- set hero = heros[featured['home']['hero']] -%}
{%- set heroClass = "home-hero bg-mono-800 full-bleed grid-col-1-2" -%}
{%- include 'modules/hero.njk' -%}

<section class="how-gymnasium-works">
  <h1>How Gymnasium Works</h1>
  <ul class="grid-col-4 unstyled-list">
    <li>
      <h2>Free Online Courses</h2>
      <p>Our courses are taught by industry experts. You can enroll anytime,
        anywhere.</p>
    </li>
    <li>
      <h2>New Skills</h2>
      <p>You can share your achievement with your network when you pass a final
        exam.</p>
    </li>
    <li>
      <h2>Career Opportunities</h2>
      <p>We get you jobs through Aquent, one of the largest staffing agencies in
        the world.</p>
    </li>
    <li>
      <h2>Lifelong Learning</h2>
      <p>We produce articles, tutorials, and webinars with trailblazers in the
        web community.</p>
    </li>
  </ul>
</section>

{%- set module = featured['home']['featured'] -%}
{%- include 'modules/featured/course.njk' -%}


<section class="home-find-work bg-mono-700 full-bleed">
  <header>
    <h1>Find Work</h1>
  </header>
  {%- include 'modules/jobs.njk' -%}
</section>
