---
layout: layouts/main.njk
permalink: /
eleventyComputed:
  title: "{{ config.meta.subtitle }}"
sitemapPriority: 1.0
sitemapChangeFreq: weekly
---
{%- set hero = heros[featured['home']['hero']] -%}
{%- include 'modules/hero.html' -%}

<section>
  <h2>How Gymnasium Works</h2>
  <ul>
    <li>
      <h2>Free Online Courses</h2>
      <p>Our courses are taught by industry experts. You can enroll anytime,
        anywhere.</p>
    </li>
    <li>
      <h2>New Skills</h2>
      <p>You can share your achievement with your network when you pass a final
        exam.</p>
    </li>
    <li>
      <h2>Career Opportunities</h2>
      <p>We get you jobs through Aquent, one of the largest staffing agencies in
        the world.</p>
    </li>
    <li>
      <h2>Lifelong Learning</h2>
      <p>We produce articles, tutorials, and webinars with trailblazers in the
        web community.</p>
    </li>
  </ul>
</section>
<section>
  <h2>Featured Courses</h2>
  <ul>
    {%- for item in featured['home']['courses'] -%}
      {%- set id = item | upper -%}
      <li>
        <div id="featured-{{ item }}">
          <img
            src="{{ config.cms_url }}{{ collections.catalog[id]['img'] }}"
            alt="Image for {{ collections.catalog[id]['title'] }}"
          />
          <span>{{ collections.catalog[id]["topic"] }}</span>
          <h3>{{ collections.catalog[id]["title"] }}</h3>
          <p>{{ collections.catalog[id]["description"] }}</p>
          <p>with {{ bios[collections.catalog[id]["instructor"]].name }}</p>
          <p>{{ bios[collections.catalog[id]["instructor"]].subtitle }}</p>
          <a class="button" href="/courses/{{ collections.catalog[id]['title'] | slugify }}"
            >Learn More</a
          >
        </div>
        {# DEBUG:<br />
        {{ courses[id] | dump }} #}
      </li>
    {%- endfor -%}
  </ul>
  <p>Design a career you love with free online courses on design, development, UX,
    accessibility, and career skills.</p>
  
  <a class="button" href="/courses/">View all Courses</a>
</section>

<section>
  <header>
    <h2>Find Work</h2>
  </header>
  {%- include 'modules/jobs.njk' -%}
</section>

<section>
  <header>
    <h2>As Seen In</h2>
  </header>
  <ul>
    {%- for i in range(1,6) -%}
    <li>
      <img src="https://placehold.co/200x50?text=logo {{ i }}" alt="Logo">
    </li>
    {%- endfor -%}
  </ul>
</section>