---js
{
  layout: "layouts/main.njk",
  permalink: "/",
  meta: {
    sitemapPriority: 1.0,
    sitemapChangeFreq: "weekly",
    bodyClass: "home",
  },
  eleventyComputed: {
    meta: {
      title: "{{ config.meta.subtitle }}",
    },
    hero_data: (data) => {
      const home_hero = data.featured.home.hero;
      const hero_category = Object.keys(home_hero)[0];
      const hero_slug = Object.values(home_hero)[0];
      return [hero_category, hero_slug];
    },
  }
}
---
{% set hero_cat = hero_data[0] -%}
{% set hero_slug = hero_data[1] -%}
{%- set hero = heros[hero_cat][hero_slug] -%}
{%- set heroClass = "home-hero bg-mono-800 full-bleed" -%}
{%- include 'modules/hero.njk' -%}

<section class="how-gymnasium-works">
  {%- set module = pages['home']['how-gymnasium-works'] -%}
  {%- set header = module['header'] -%}
  {%- include 'modules/components/header.njk' -%}
  {% set items = module['items'] -%}
  <ul>
    {%- for item in items %}
      <li>
        <h2>{{ item.heading }}</h2>
        <p>{{ item.description }}</p>
      </li>
    {%- endfor -%}
  </ul>

</section>

{%- set module = featured['home']['featured'] -%}
{%- include 'modules/featured/home.njk' -%}

<section class="home-find-work bg-mono-700 full-bleed">
  {%- set header = pages['home']['find-work']['header'] -%}
  {%- include 'modules/jobs.njk' -%}
</section>
