---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{# TODO: adjust logic for production release #}
{# Sitemap: {{config.urls.root}}/sitemap.xml #}

User-agent: *
Disallow: /
{# /tests/
/test/
/debug/
/pattern-library/ #}
