---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all | sortByUrl -%}
  {%- if (not item.data.meta.draft) and (not item.data.meta.sitemapExclude) -%}
  <url>
    <loc>{{ config.urls.root }}{{ item.url }}</loc>
    <lastmod>{{ item.data.meta.sitemapDate | default(item.date.toISOString()) }}</lastmod>
    <changefreq>{{ item.data.meta.sitemapChangeFreq | default("monthly") }}</changefreq>
    <priority>{{ item.data.meta.sitemapPriority | default(0.5) }}</priority>
  </url>
  {%- endif -%}
{%- endfor -%}
{%- for id, course in courses -%}
  {%- if (course.live) -%}
  <url>
    <loc>{{ config.urls.root }}/courses/{{ course.title.slugify }}/</loc>
    <lastmod>{{ course.date.toISOString() }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ course.id | course_endpoint('learning') }}</loc>
    <lastmod>{{ course.date.toISOString() }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
