---
layout: layouts/main.njk
permalink: /tutorials/
title: Tutorials
---
<h1>Tutorials</h1>
<p>This is the tutorials index, also pulling in from local YAML files.</p>
<ul>
{% for id, tutorial in tutorials %}
  <li>
    <a href="/tutorials/{{ tutorial.title | slugify }}">{{ tutorial.title }}</a>
    </li>
{% endfor %}
</ul>
