---
layout: layouts/main.njk
pagination:
  data: tutorials
  size: 1
  alias: tutorial
  resolve: values
permalink: "tutorials/{{ tutorial.title | slugify }}/"
eleventyComputed:
  title: "{{ tutorial.title }} | Tutorials"
---
<h1>{{ tutorial.title }}</h1>
<h4>{{ tutorial.id }}</h4>
<p>{{ tutorial.description }}</p>
{%- youtube tutorial.video_id, tutorial.title -%}
