---
layout: layouts/main.njk
permalink: /faq/
meta:
  title: "FAQ"
---
{%- set intro = pages['faq'].intro -%}
<header id="{{ id }}" class="page-header {{ id }}">
  <h1>{{ intro.heading }}</h1>
</header>
{%- set sections = pages['faq'] | omit(['intro']) -%}
{%- for id, section in sections -%}
  {%- if loop.first -%}<ul>{%- else -%}
    <li id="{{ id }}" class="page-section {{ id }}">
      <h2>{{ section.heading | safe }}</h2>
      <p>{{ section.description | safe }}</p>
    </li>
  {%- endif -%}
  {%- if loop.last -%}</ul>{%- endif -%}
{%- endfor -%}