---
layout: layouts/main.njk
permalink: /social-impact/
title: "Social Impact"
---
{%- set intro = pages['social-impact'].intro -%}
<header id="{{ id }}" class="page-header {{ id }}">
  <h1>{{ intro.heading }}</h1>
  <p>{{ intro.description }}</p>
</header>
{%- set sections = pages['social-impact'] | omit(['intro']) -%}
{%- for id, section in sections -%}
  <article id="{{ id }}" class="page-article {{ id }}">
    <header id="{{ id }}" class="page-header {{ id }}">
      <h2>{{ sections.article.heading }}</h2>
    </header>
    {%- for ident, subsections in section | omit(['heading']) -%}
      <section id="{{ ident }}">
        {%- for a, item in subsections -%}
          {# This is one way to check for the heading #}
          {%- if item | is_string -%}
            <h3>{{ item }}</h3>
          {# This is one way to retrieve the links #}
          {%- elif item | is_object -%}
            <ul>
            {%- for idx in range(0, item.length) -%}
              <li>
                {%- external_link item[idx].url, item[idx].label -%}
              </li>
            {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endfor -%}
      </section>
    {%- endfor -%}
  </article>
{%- endfor -%}