{%- if content -%}
  {%- for key, section in content -%}
    {%- set section_id = key -%}
    {%- if section.section_id -%}
      {%- set section_id = section.section_id -%}
    {%- endif -%}
    {%- set section_class = "" -%}
    {%- if section.section_class -%}
      {%- set section_class = section.section_class -%}
    {%- endif -%}
    <section id="{{ section_id }}" class="{{ key }}{% if section_class %} {{ section_class }}{% endif %}">
      {# Load modules! #}
      {# Let's rename sections to modules, so we can keep track of what we're dealing with #}
      {%- set module = section -%}
      {%- set module_type = section.module_type -%}
      {%- include 'modules/' + section.module + '.njk' -%}
    </section>
    {%- back_to -%}
  {%- endfor -%}
{%- endif -%}
