<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {%- for idx in range(0, item.ids.length) -%}
      {%- set course = collections.catalog[item.ids[idx].id] -%}
      {%- set path = course.id | get_path -%}
      {%- set slug = course.title | strip_html | slugify -%}
      {%- set title = course.title | strip_html -%}
      {%- set description = course.description | strip_html -%}
      {%- set id = course.id -%}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "url": "{{ config.urls.production }}{{ path }}{{ slug }}/",
        "item": {
          "@type": "Course",
          "name": "{{ title }}",
          "description": "{{ description }}",
          "image": "{{ config.urls.production }}{{ config.paths.img.og }}courses/{{ id | lowercase }}.png",
          "url": "{{ config.urls.production }}{{ path }}{{ slug }}/",
          "provider": {
            "@type": "School",
            "name": "Gymnasium",
            "sameAs": "{{ config.urls.production }}"
          },
          "hasCourseInstance": {
            "@type": "CourseInstance",
            "courseMode": [
              "Online",
              "MOOC"
            ],
            "courseWorkload": "{{ course.duration_8601_format }}",
            "offers": {
              "@type": "Offer",
              "price": "free"
            }
          }
        }
      }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
</script>
