{%- extends "components/modules/lists/standard.njk" -%}

{%- for id, item in filtered -%}
  {% block item %}
    <ul>
      {%- for idx in range(0, item.ids.length) -%}
        {%- set filteredId = collections.catalog | find_webinar_id(item.ids[idx].id) -%}
        {%- set obj = collections.catalog[filteredId] -%}
        {%- set path = item.ids[idx].id | get_path -%}
        {%- set title = obj.title | strip_html -%}
        {%- set slug = title | slugify -%}
        {%- set shortId = obj.id -%}
        {%- set type = obj.type -%}
        {# TODO: standardize image locations for ease of development #}
        {%- if type === 'tutorial' -%}
          {%- set src = config.cms_url + '/img/take5/posters/' +  shortId + '.jpg' -%}
          {%- set srcSet = src -%}
        {%- elseif type === 'webinar' -%}
          {%- set slug = obj.slug -%}
          {%- set src = config.cms_url + '/img/hub-pages/webinars/posters/' +  slug + '.jpg' -%}
          {%- set srcSet = src -%}
        {%- else -%}
          {%- set src = config.cms_url + '/img/course-artwork/png/' +  shortId + '.png' -%}
          {%- set srcSet = config.cms_url + '/img/course-artwork/svg/' +  shortId + '.svg' -%}
        {%- endif -%}

        {{ filteredId | log }}
        <li>
          <figure class="course-artwork bg-web-development">
            <a class="img-link" href="{{ path }}{{ slug }}" title="{{ title }}">
              <img style="max-width: 5rem;" alt="{{ title }}" srcset="{{ srcSet }}" src="{{ src }}">
            </a>
          </figure>
          <h3><a href="{{ path }}{{ slug }}">{{ title }}</a></h3>
        </li>
      {%- endfor -%}
    </ul>
  {% endblock %}

{%- endfor -%}