{%- extends "./standard.njk" -%}

{% block item %}
  <li>
    <figure class="course-artwork bg-web-development">
      <a class="img-link" href="{{ path }}{{ slug }}" title="{{ title }}">
        <img style="max-width: 5rem;" alt="{{ title }}" srcset="{{ srcSet }}" src="{{ src }}">
      </a>
    </figure>
    <h3><a href="{{ path }}{{ slug }}">{{ title }}</a></h3>
  </li>
{% endblock %}