{%- if module -%}
  {%- if module.heading -%}
    <h2>{{ module.heading }}</h2>
    {%- if module.description -%}
      <p>{{ module.description | safe }}</p>
    {%- endif -%}
  {%- endif -%}
  {%- set filtered = module | omit(['module', 'heading', 'description', 'schema', 'cta']) -%}
  {%- for id, item in filtered -%}
    <div class="{{id}}">
      {%- if module.heading -%}
        <h3>{{ item.heading }}</h3>
      {%- else -%}
        <h2>{{ item.heading }}</h2>
      {%- endif -%}
    
      {%- if item.description -%}
        <p>{{ item.description | safe }}</p>
      {%- endif -%}

      {# Include a schema block #}
      {%- if (item.schema and item.ids) -%}
        {% block schema %}
          {% include 'components/modules/schema.njk' %}
        {% endblock %}
      {%- endif -%}

      {# If we pass in data IDs, use those to fetch data directly #}
      {%- if item.ids -%}
        <ul>
          {%- for idx in range(0, item.ids.length) -%}
            {%- set filteredId = collections.catalog | get_key(item.ids[idx].id) -%}
            {%- set obj = collections.catalog[filteredId] -%}
            {%- set path = item.ids[idx].id | get_path -%}
            {%- set title = obj.title | strip_html -%}
            {%- set slug = title | slugify -%}
            {%- set shortId = obj.id -%}
            {%- set type = obj.type -%}
            {# TODO: standardize image locations for ease of development #}
            {%- set src = config.cms_url + '/img/course-artwork/png/' +  shortId + '.png' -%}
            {%- set srcSet = config.cms_url + '/img/course-artwork/svg/' +  shortId + '.svg' -%}
            {%- if type === 'tutorial' -%}
              {%- set src = config.cms_url + '/img/take5/posters/' +  shortId + '.jpg' -%}
              {%- set srcSet = src -%}
            {%- elseif type === 'webinar' -%}
              {%- set slug = obj.slug -%}
              {%- set src = config.cms_url + '/img/hub-pages/webinars/posters/' +  slug + '.jpg' -%}
              {%- set srcSet = src -%}
            {%- endif -%}
            {% block item %}
            <li><a href="{{ path }}{{ slug }}">{{ title }}</a></li>
            {% endblock %}
          {%- endfor -%}
        </ul>
      {%- elseif item.links -%}
        <ul>
        {%- for idx in range(0, item.links.length) -%}
          
          <li>
            {# Figure out if we are using an internal or external URL #}
            {% if (item.links[idx].url | is_external_link) -%}
              {%- external_link item.links[idx].url,item.links[idx].label -%}
            {%- else -%}
              <a href="{{ item.links[idx].url }}">{{ item.links[idx].label }}</a>
            {%- endif -%}
            {%- if item.links[idx].description -%}
              <p>{{ item.links[idx].description | safe }}</p>
            {%- endif -%}
          </li>
          
        {%- endfor -%}
        </ul>
      {%- endif -%}

    </div>
  {%- endfor -%}

  {%- if module.cta -%}
    <div class="cta">
      <a class="{{ module.cta.type }}" href="{{ module.cta.url }}">{{ module.cta.label }}</a>
    </div>
  {%- endif -%}
{%- else -%}
  <em>{ List Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
