---
layout: layouts/main.njk
permalink: /tutorials/
meta:
  title: Tutorials
  sitemapPriority: 0.7
  sitemapChangeFreq: weekly
nav:
  secondary: courses
  parent: /courses/
  secondaryParent: /tutorials/
---
<h1>Tutorials</h1>
<p>This is the tutorials index, also pulling in from local YAML files.</p>
<ul>
{% for id, tutorial in tutorials %}
  <li>
    <a href="/tutorials/{{ tutorial.title | slugify }}">{{ tutorial.id }} | {{ tutorial.title }}</a>
  </li>
{% endfor %}
</ul>
