---js
{
  layout: "layouts/main.njk",
  pagination: {
    data: "tutorials",
    size: 1,
    alias: "item",
    resolve: "values",
    before: function(data) {
      const items = data.filter(x => x.tags.includes('tutorial'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "tutorials/{{ item.title | slugify }}/",
  nav: {
    secondary: "courses",
    parent: "/courses/",
    secondaryParent: "/tutorials/",
  },
  eleventyComputed: {
    meta: {
      title: "{{ item.title }} | Tutorials",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: function(data) {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
    },
  },
}
---

<h1>{{ item.title }}</h1>
<h4>{{ item.id }}</h4>
<p>{{ item.description }}</p>
{%- youtube item.video_id, item.title -%}
