---js
{
  layout: "layouts/main.njk",
  pagination: {
    data: "tutorials",
    size: 1,
    alias: "item",
    resolve: "values",
    before: function(data) {
      const items = data.filter(x => x.tags.includes('tutorial'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "tutorials/{{ item.title | slugify }}/",
  nav: {
    secondary: "courses",
    parent: "/courses/",
    secondaryParent: "/tutorials/",
  },
  eleventyComputed: {
    meta: {
      title: "{{ item.title }} | Tutorials",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: function(data) {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
    },
  },
}
---
{# TODO: remove later - this is just here for reference #}
<span>{{ item.id }}</span>

{# Set fallbacks for missing bio YAML #}
{#- TODO: seems a bit redundant to have an additional bio fields inside the tutorial data file. Ideally, all of that info would just be pulled from the instructor bios data files. Let's discuss. -#}
{%- set instructor = item.instructor -%}
{%- if bios[instructor] -%}
  {%- set instructor = bios[instructor].name -%}
{%- endif -%}
{%- set instructor_blurb = instructor -%}
{%- if item.instructor_bio -%}
  {%- set instructor_blurb -%}
    with {{ instructor}}, {{ item.instructor_bio }}
  {%- endset -%}
{%- endif -%}

<p class="topic">{{ item.topic }}</p>
<h1 class="title">{{ item.title }}</h1>
<p class="instructor">{{ instructor_blurb }}</p>
<p class="description">{{ item.description }}</p>

{# Note: this a custom shortcode that wraps the video in a div. Find it in
./11ty.config/shortcodes.js #}
{%- if item.video_id -%}
  {%- youtube item.video_id, item.title -%}
{%- endif -%}

{%- if item.project_files or item.related_content -%}
<details class="resources" id="tutorial-resources" open="open">
  <summary aria-expanded="true/false" tabindex="0" role="button">Resources</summary>
  {%- if item.project_files -%}
    <div class="project-files">
      <header>
        <h3>Project Files</h3>
        {%- if item.project_file_source -%}<p>on {{ item.project_file_source }}</p>{%- endif -%}
      </header>
      <ul>
        {%- for file in item.project_files -%}
          <li>
            <a href="{{ file.url }}" target="_blank" rel="noopener">{{ file.label }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}

  {%- if item.related_content -%}
    <div class="related">
      <header>
        <h3>Related Content</h3>
      </header>
      <ul>
        {%- for link in item.related_content -%}
          {%- set attr -%} target="_blank" rel="noopener"{% endset -%}
          {%- if not 'http' in link.url -%}
            {%- set attr = "" -%}
          {%- endif -%}
          <li>
            <a href="{{ link.url }}"{{ attr }}>{{ link.label }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</details>
{%- endif -%}

{# TODO: current markdown plugin doesn't support kramdown style features, like link attributes. #}
{% set transcript = "./src/_includes/md/transcripts/" + item.id + ".md" %}
{%- if transcript | file_exists -%}
<details class="resources" id="tutorial-transcript">
  <summary class="gym-summary-link" aria-expanded="true/false" tabindex="0" role="button">Transcript</summary>
  <article class="transcript" id="{{ item.id }}-transcript">
    <header class="visuallyhidden">
      <h1>{{ item.title }}</h1>
      <p>{{ instructor_blurb }}</p>
    </header>

  {% renderFile transcript, "njk" %}

  </article>
</details>
{%- endif -%}

{# TODO: probably don't need this here, but I put it here as a reference of how
to accomplish this. #}
{%- if bios[item.instructor] -%}
<aside>
  <h2>Meet the Instructor</h2>

  <img src="{{ config.urls.data }}/img/webinar-bio-headshots/{{ bios[item.instructor].img }}" alt="Image of {{ bios[item.instructor].name }}" />

  <p>{{ bios[item.instructor].description | safe }}</p>

  {%- if bios[item.instructor].extended_description -%}
    {{ bios[item.instructor].extended_description | safe }}
  {%- endif -%}
</aside>
{%- endif -%}

