{%- if module -%}
  {%- if module.heading -%}
    <h2>{{ module.heading }}</h2>
    {%- if module.description -%}
      <p>{{ module.description }}</p>
    {%- endif -%}
  {%- endif -%}
  {%- set filtered = module | omit(['module', 'heading', 'description']) -%}
  {%- for id, article in filtered -%}
    <div class="{{id}}">
    {%- if module.heading -%}
      <h3>{{ article.heading }}</h3>
    {%- else -%}
      <h2>{{ article.heading }}</h2>
    {%- endif -%}
  
    {%- if article.description -%}
      <p>{{ article.description }}</p>
    {%- endif -%}

    {% block links %}
      {# If we pass in data IDs, use those to fetch data directly #}
      {%- if article.ids -%}
        <ul>
          {%- for idx in range(0, article.ids.length) -%}
            {%- set path = collections.catalog[article.ids[idx].id].id | get_path -%}
            {%- set slug = collections.catalog[article.ids[idx].id].title | strip_html | slugify -%}
            {%- set title = collections.catalog[article.ids[idx].id].title | strip_html -%}
            <li><a href="{{ path }}{{ slug }}">{{ title }}</a></li>
          {%- endfor -%}
        </ul>
      {%- elseif article.links -%}
        <ul>
        {%- for idx in range(0, article.links.length) -%}
          <li>
            {# Figure out if we are using an internal or external URL #}
            {% if (article.links[idx].url | is_external_link) -%}
              {%- external_link article.links[idx].url,article.links[idx].label -%}
            {%- else -%}
              <a href="{{ article.links[idx].url }}">{{ article.links[idx].label }}</a>
            {%- endif -%}
            {%- if article.links[idx].description -%}
              <p>{{ article.links[idx].description }}</p>
            {%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      {%- endif -%}
    {% endblock %}

    </div>
  {%- endfor -%}
{%- else -%}
  <em>{ Articles Module Placeholder }</em>
  <p>Pass in the `articles` variable to make this work</p>
{%- endif -%}
