<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {%- for idx in range(0, item.ids.length) -%}
      {%- set path = collections.catalog[item.ids[idx].id].id | get_path -%}
      {%- set slug = collections.catalog[item.ids[idx].id].title | strip_html | slugify -%}
      {%- set title = collections.catalog[item.ids[idx].id].title | strip_html -%}
      {%- set description = collections.catalog[item.ids[idx].id].description | strip_html -%}
      {%- set id = collections.catalog[item.ids[idx].id].id -%}
      {
        "@type": "Course",
        "name": "{{ title }}",
        "description": "{{ description }}",
        "image": "https://thegymcms.com/img/social/courses/{{ id }}-social.png",
        "url": "https://thegymnasium.com{{ path}}{{ slug }}",
        "position": 1,
        "provider": {
          "@type": "School",
          "name": "Gymnasium",
          "sameAs": "https://thegymnasium.com"
        }
      }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
</script>