---
layout: layouts/main.njk
permalink: /pattern-library/
eleventyComputed:
  meta:
    title: "Pattern Library"
meta:
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<h2>Typography</h2>
<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>H5</h5>
<h6>H6</h6>
<p>Paragraph</p>
<h2>Links/Buttons</h2>
<a href="#">Link</a>
<a href="#" class="btn">Button</a>
<a href="#" class="btn secondary">Button (Secondary)</a>

{# TODO:
- figure out how to make absolute paths work. seems lame to only have it work using relative paths.

 #}
{% image "../../img/courses/svg/gym-000.svg", "11ty Images example processing multiple web compatible images from SVG" %}