---
layout: layouts/main.njk
permalink: /pattern-library/
eleventyComputed:
  meta:
    title: "Pattern Library"
meta:
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<h1>H1</h1>
<h2>H2</h2>
<h2>Buttons</h2>
<a href="#" class="button">Button</a>
<a href="#" class="button secondary">Button (Secondary)</a>