{%- extends "./default.njk" -%}
{% block item %}
  <li>
    <figure class="artwork">
      <a class="img-link" href="{{ path }}{{ slug }}">
        <img alt="{{ title }}" srcset="{{ srcSet }}" src="{{ src }}">
      </a>
    </figure>
  </li>
{% endblock %}
