@use 'base/containers';

.wrapper-course-material {
  @extend .container;
}

.course-tabs .tab a {
  color: black !important;
}
.course-tabs .tab a {
  color: black !important;
}

.course-tabs .tab a,
.course-tabs .tab a:visited {
  font-weight: 400;
}

.course-tabs .tab a,
.course-tabs .tab a:visited {
  font-size: 14px;
  line-height: 20.72px;
}

.course-tabs {
  -webkit-border-top-left-radius: 4px;
  -moz-border-topleft-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-topright-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 0 15px 0;
}
.course-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.course-tabs .tab {
  display: inline-block;
  list-style: none;
}
.course-tabs .tab a,
.course-tabs .tab a:visited {
  padding: 10px 15px 13px 15px;
  color: #313131;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px hidden #0075b4;
}
.course-tabs .tab a:hover,
.course-tabs .tab a:focus,
.course-tabs .tab a.active,
.course-tabs .tab a:visited:hover,
.course-tabs .tab a:visited:focus,
.course-tabs .tab a:visited.active {
  color: #0075b4;
  border-bottom-style: solid;
  background-color: transparent;
}

.course-material {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.course-material {
  width: auto;
  padding: 0;
}

.course-material .course-tabs {
  padding: 0;
}

.course-tabs .tab a {
  color: black !important;
}