---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{# modified, via @https://willvincent.com/2022/07/27/redirects-with-11ty-and-netlify/ #}
{# Establish MFE destinations/ports #}
{%- set mfe_url_course_about = config.urls.mfe -%}
{%- set mfe_url_learning = config.urls.mfe -%}
{%- if env.ELEVENTY_ENV == ('local' or 'dev') %}
  {%- if config['ports']['course_about'] -%}
    {%- set mfe_url_course_about -%}{{ mfe_url_course_about }}:{{ config['ports']['course_about'] }}{%- endset -%}
  {%- endif -%}
  {%- if config['ports']['learning'] -%}
    {%- set mfe_url_learning -%}{{ mfe_url_learning }}:{{ config['ports']['learning'] }}{%- endset -%}
  {%- endif -%}
{%- endif -%}

{%- for id, course in courses -%}
{{ course.id | course_path }}about  {{ mfe_url_course_about }}{{ course.id | course_path('about') }}  301
{{ course.id | course_path }}info  {{ mfe_url_learning }}{{ course.id | course_path('learning') }}  301
{{ course.id | course_path }}courseware  {{ mfe_url_learning }}{{ course.id | course_path('learning') }}  301
{%- if not loop.last -%}
  {{ '\n' }}
{%- endif -%}
{%- endfor -%}
{{ '\n' }}
{%- for page in collections.all -%}
  {%- if page.url and page.data.meta.redirectFrom -%}
    {%- if page.data.meta.redirectFrom | is_string -%}
      {{ page.data.meta.redirectFrom }}  {{ page.url }}  {{ page.data.meta.redirectCode or '301' }}
      {%- if not loop.last -%}
        {{ '\n' }}
      {%- endif -%}
    {%- else %}
      {%- for oldUrl in page.data.meta.redirectFrom -%}
        {{ oldUrl }}  {{ page.url }}  {{ page.data.meta.redirectCode or '301' }}
        {%- if not loop.last -%}
          {{ '\n' }}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}