---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{# modified, via @https://willvincent.com/2022/07/27/redirects-with-11ty-and-netlify/ #}
{%- for id, course in courses -%}
{{ id | redirect_course }}about  /courses/{{ course.title | slugify }}  301
{{ id | redirect_course }}info  {{ config.lms_url }}{{ id | redirect_course(true) }}info  301
  {%- if not loop.last -%}
    {{ '\n' }}
  {%- endif -%}
{%- endfor -%}

{%- for page in collections.all -%}
  {%- if page.url and page.data.redirectFrom -%}
    {%- if page.data.redirectFrom | is_string -%}
      {{ page.data.redirectFrom }}  {{ page.url }}  {{ page.data.redirectCode or '301'}}
    {%- else -%}
      {%- for oldUrl in page.data.redirectFrom -%}
        {{ oldUrl }}  {{ page.url }}  {{ page.data.redirectCode or '301'}}
        {%- if not loop.last -%}
          {{ '\n' }}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {{ '\n' }}
  {%- endif -%}
{%- endfor -%}