// | -------------------------------------------------------------
// | This file is intended to only serve the Learner Dashboard MFE
// | -------------------------------------------------------------
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

@use "shared";

@use "mfe/root";
@use "mfe/flex";

// Dashboard Heading
.course-list-heading-container {
  align-items: flex-start;
  // flex-direction: column-reverse;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @include breakpoint(large, min) {
    align-items: center;
    flex-direction: row;
  }
}

.course-list-title {
  text-transform: uppercase;
}

// Course filter controls
.course-filter-controls-container {
  align-self: flex-start;

  @include breakpoint(medium, min) {
    align-self: flex-start;
  }
}

// Course Filter button
.btn-outline-primary {
  border-color: var(--mono-900);
  color: var(--mono-900);
  background-color: transparent;
  border: 1px solid var(--mono-900);
  padding: rem-calc(9 16);
}

// Background of filter popup/overlay
.bg-white {
  background-color: var(--mono-100);
}

@include breakpoint(large, min) {
  #course-filter-controls-card {
    .filter-form-col {
      display: inline-block;
      width: 256px;
    }

    .filter-form-heading {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .pgn__form-control-set {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

// Course "Cards"

.course-card {
  margin-bottom: 2rem;

  > .card {
    flex-direction: row;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--mono-100);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
  }
}

.pgn__card-wrapper-image-cap {
  position: relative;

  @include breakpoint(medium, min) {
    max-width: rem-calc(240);
    min-width: rem-calc(240);
  }

  img {
    height: 100%;
    max-width: inherit;
    object-fit: cover;
    width: 100%;
    display: block;
  }
}

// card body

.pgn__card-body {
  padding: 1.25rem;
  width: 100%;
}
.pgn__card-header {
  display: flex;
  justify-content: space-between;
}

.pgn__card-header-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: start;
  width: 100%;
}

.pgn__card-section {
  flex-grow: 1;
  text-align: start;
  margin: 1rem 0 1.25rem;
}

.pgn__card-footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;

  @include breakpoint(medium, min) {
    justify-content: flex-end;
  }
}

.pgn__card-header-actions {
  flex-shrink: 0;
  margin-inline-start: 1rem;
}

.dropdown {
  position: relative;
}

.pgn__action-row {
  button[disabled] {
    display: none;
    margin-right: 1rem;
  }
}

// Grade required to pass...
.course-card-banners {
}

.alert-info {
  border-radius: 0;
  box-shadow: none;
  padding: 1rem 1.5rem;
  background-color: var(--mono-300);
  border-color: #bfdbea;
  color: inherit;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: start;
}

.alert .alert-icon {
  flex-shrink: 0;
  height: 1.5rem;
  margin-inline-end: 0.8rem;
  width: 1.5rem;
}

// 3 dot icon

.btn-icon {
  border: 1px solid var(--mono-400);
  border-radius: 50%;
  display: inline-flex;
  height: 2.75rem;
  justify-content: center;
  padding: 0;
  width: 2.75rem;
  white-space: nowrap;

  &.btn-icon-primary {
    background-color: transparent;
    color: var(--mono-900);
    cursor: pointer;
  }

  &__icon-container {
    margin-top: 0.55rem;
  }
}

// dropdown
.dropdown-menu {
  background-clip: padding-box;
  background-color: var(--mono-100);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  color: var(--mono-900);
  display: none;
  font-size: 1.125rem;
  list-style: none;
  margin: 0.125rem 0 0;
  min-width: 9rem;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  z-index: 1000;

  &.show {
    display: block;
    float: right;
    right: 0;
    text-align: left;
  }
}

.pgn__dropdown-item {
  align-items: center;
  display: flex;
  background-color: transparent;
  border: 0;
  clear: both;
  color: var(--mono-900);
  display: block;
  font-weight: 400;
  padding: 0.25rem 1rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

[role="button"] {
  cursor: pointer;
}

.sidebar-column {
  display: none;
}
