// | -------------------------------------------------------------
// | This file is intended to only serve the Account MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';

@use 'mfe/root';

.page__account-settings {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .h6, h6 {
    margin-bottom: .25rem;
    font-size: 1.1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .btn-link {
    border: none;
    display: inline-block;
    line-height: 1.2;
    padding: 0;
    background-color: transparent;
    color: var(--mono-900);
    font-family: var(--font-family-default);
    font-size: 1rem;
    border-radius: 0;
  
    &:hover {
      background-color: transparent;
      color: var(--mono-700);
    }

    a {
      text-decoration: underline;
    }
  }
}

// Certificate area
.pgn-transition-replace-group {
  text-align: start;
  transition: height .3s ease;
}

// H2
.edit-section-header {
  display: block;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  font-size: 1.2rem;
}


// Utility classes
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}

.position-relative {
  position: relative !important;
}

// .align-items-stretch {
//   align-items: stretch !important;
// }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
