// | -------------------------------------------------------------
// | This file is intended to only serve the Learner Dashboard MFE
// | -------------------------------------------------------------
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

@use "shared";

@use "mfe/root";
@use "mfe/flex";

// Dashboard Heading
.course-list-heading-container {
  align-items: flex-start;
  // flex-direction: column-reverse;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @include breakpoint(large, min) {
    align-items: center;
    flex-direction: row;
  }
}

.course-list-title {
  text-transform: uppercase;
}

// Course filter controls
.course-filter-controls-container {
  align-self: flex-start;

  @include breakpoint(large, min) {
    align-self: flex-end;
  }
}

// Course Filter button
.btn-outline-primary {
  border-color: var(--mono-900);
  color: var(--mono-900);
  background-color: transparent;
  border: 1px solid var(--mono-900);
  padding: rem-calc(9 16);
}

// Background of filter popup/overlay
.bg-white {
  background-color: var(--mono-100);
}

@include breakpoint(large, min) {
  #course-filter-controls-card {
    .filter-form-col {
      display: inline-block;
      width: 256px;
    }

    .filter-form-heading {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .pgn__form-control-set {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

.pgn__sheet-skrim {
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  &.hidden {
    display: none;
  }

  z-index: 10;
}

%component-left {
  left: 0;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.15);
}

%component-right {
  right: 0;
  box-shadow: -8px 0 16px 0 rgba(0, 0, 0, 0.15);
}

.pgn__sheet-component-left {
  @extend %component-left;
}

.pgn__sheet-component-right {
  @extend %component-right;
}

.pgn__sheet-component {
  position: fixed;
  padding: 1.25rem;
  background-color: white;
  z-index: 10;

  &.pgn__sheet__dark {
    background-color: black;
    color: white;
  }

  &.bottom {
    bottom: 0;
    box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.15);
  }

  &.top {
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  }

  &.left {
    @extend %component-left;

    [dir="rtl"] & {
      @extend %component-right;

      left: auto;
    }
  }

  &.right {
    @extend %component-right;

    [dir="rtl"] & {
      @extend %component-left;

      right: auto;
    }
  }

  &.bottom,
  &.top {
    width: 100%;
    left: 0;
    max-height: 50%;
  }

  &.left,
  &.right {
    max-width: 272px;
    height: 100%;
    top: 0;
  }
}

// PGN Modal
// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.5rem !default;
$modal-inner-padding-bottom: 0.7rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.5rem !default;

$modal-dialog-margin: 1.5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-title-line-height: 1 !default;

$modal-content-color: null !default;
$modal-content-bg: var(--mono-100) !default;
$modal-content-border-color: rgba(var(--mono-900), 0.2) !default;
$modal-content-border-width: 0 !default;
$modal-content-border-radius: 3 !default;
$modal-content-inner-border-radius: subtract(
  $modal-content-border-radius,
  $modal-content-border-width
) !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba(var(--mono-900), 0.5) !default;
$modal-content-box-shadow-sm-up: 0 10px 20px rgba(var(--mono-900), 0.15),
  0 8px 20px rgba(var(--mono-900), 0.15) !default;

$modal-backdrop-bg: var(--mono-900) !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: var(--mono-700) !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: 3 !default;
$modal-footer-border-width: 3 !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: 1.5rem !default;
$modal-close-container-top: 0.625rem !default;

// Keep this for backwards compatibility
$modal-header-padding: 1rem !default;
$modal-footer-padding-y: 1rem !default;
$modal-footer-padding-x: 1.5rem !default;

// Keep this for backwards compatibility
$modal-footer-padding: 1rem 1rem !default;

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 400px !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;

$success: green !default;
$info: teal !default;
$danger: red !default;
$warning: yellow !default;

$success-100: mix(white, $success, 94%) !default;
$success-200: mix(white, $success, 75%) !default;
$success-300: mix(white, $success, 50%) !default;
$success-400: mix(white, $success, 25%) !default;
$success-500: $success !default;
$success-600: mix(black, $success, 10%) !default;
$success-700: mix(black, $success, 20%) !default;
$success-800: mix(black, $success, 25%) !default;
$success-900: mix(black, $success, 30%) !default;

$info-100: mix(white, $info, 94%) !default;
$info-200: mix(white, $info, 75%) !default;
$info-300: mix(white, $info, 50%) !default;
$info-400: mix(white, $info, 25%) !default;
$info-500: $info !default;
$info-600: mix(black, $info, 10%) !default;
$info-700: mix(black, $info, 20%) !default;
$info-800: mix(black, $info, 25%) !default;
$info-900: mix(black, $info, 30%) !default;

$warning-100: mix(white, $warning, 94%) !default;
$warning-200: mix(white, $warning, 75%) !default;
$warning-300: mix(white, $warning, 50%) !default;
$warning-400: mix(white, $warning, 25%) !default;
$warning-500: $warning !default;
$warning-600: mix(black, $warning, 10%) !default;
$warning-700: mix(black, $warning, 20%) !default;
$warning-800: mix(black, $warning, 25%) !default;
$warning-900: mix(black, $warning, 30%) !default;

$danger-100: mix(white, $danger, 94%) !default;
$danger-200: mix(white, $danger, 75%) !default;
$danger-300: mix(white, $danger, 50%) !default;
$danger-400: mix(white, $danger, 25%) !default;
$danger-500: $danger !default;
$danger-600: mix(black, $danger, 10%) !default;
$danger-700: mix(black, $danger, 20%) !default;
$danger-800: mix(black, $danger, 25%) !default;
$danger-900: mix(black, $danger, 30%) !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    1\.5: (
      $spacer * 0.375,
    ),
    2: (
      $spacer * 0.5,
    ),
    2\.5: (
      $spacer * 0.75,
    ),
    3: $spacer,
    3\.5: (
      $spacer * 1.25,
    ),
    4: (
      $spacer * 1.5,
    ),
    4\.5: (
      $spacer * 2,
    ),
    5: (
      $spacer * 3,
    ),
    5\.5: (
      $spacer * 4,
    ),
    6: (
      $spacer * 5,
    ),
  ),
  $spacers
);

.pgn__modal {
  background: $modal-content-bg;
  border-radius: $modal-content-inner-border-radius;
  display: flex;
  flex-direction: column;
  margin: 0 $modal-dialog-margin;
  max-height: 80vh;
  max-width: $modal-md;
  overflow: auto;
  width: 100vw;
  box-shadow: $modal-content-box-shadow-sm-up;
  border: solid $modal-content-border-width $modal-content-border-color;
  position: relative;

  &:not(.pgn__modal-fullscreen) > *:first-child {
    border-top-left-radius: $modal-content-border-radius;
    border-top-right-radius: $modal-content-border-radius;
  }

  &:not(.pgn__modal-fullscreen) > *:last-child {
    border-bottom-left-radius: $modal-content-border-radius;
    border-bottom-right-radius: $modal-content-border-radius;
  }

  &.pgn__modal-scroll-fullscreen {
    max-height: none;
    margin: $modal-dialog-margin;
  }
}

// Sizes

.pgn__modal-sm {
  max-width: $modal-sm;
}

.pgn__modal-lg {
  max-width: $modal-lg;
}

.pgn__modal-md {
  max-width: $modal-md;
}

.pgn__modal-xl {
  max-width: $modal-xl;
}

.pgn__modal-fullscreen {
  border-radius: 0;
  margin: 0;
  max-height: none;
  max-width: none;

  .pgn__modal-footer {
    border-top: solid 1px var(--mono-400);
    padding-top: $modal-footer-padding-y;
  }
}

// Made specific due to a selector in Modal.scss
.pgn__modal-content-container > *.pgn__modal.pgn__modal-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

// Subcomponents

.pgn__modal-close-container {
  position: absolute;
  z-index: 10;
  top: $modal-close-container-top;
  inset-inline-end: $modal-header-padding-y;
}

.pgn__modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: $modal-header-padding;
  background-color: $modal-content-bg;
  transition: box-shadow 150ms ease;
  min-height: 2rem; // height of the icon close button
  box-sizing: content-box;
  flex-shrink: 0;
  box-shadow: none;

  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .pgn__modal-title {
    font-size: rem-calc(20);
    margin-inline-end: 3rem; // roughly accomodate the width of the close buttonn
    text-align: start;
  }
}

.pgn__modal-hero {
  padding: $modal-header-padding;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 10rem;

  .pgn__modal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
  }

  .pgn__modal-hero-content {
    position: relative;
    z-index: 1;
    margin-inline-end: 3rem;
    text-align: start;
  }
}

.pgn__modal-body {
  flex-grow: 1;
  padding: $modal-inner-padding $modal-inner-padding
    calc(#{$modal-inner-padding} / 2);
  overflow: auto;
  position: relative;

  &::before {
    content: "";
    background-color: transparent;
    background-image: linear-gradient(#605c5c, #b8bebe, transparent 50%);
    display: block;
    height: 20px;
    position: sticky;
    top: -$modal-inner-padding;
    margin-top: -$modal-inner-padding;
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    opacity: 0.5;
    z-index: 2;
  }

  &::after {
    content: "";
    background-color: transparent;
    background-image: linear-gradient(
      360deg,
      #605c5c,
      #b8bebe,
      transparent 50%
    );
    display: block;
    height: 20px;
    position: sticky;
    bottom: calc(#{$modal-inner-padding} / 2 * -1);
    margin-bottom: -$modal-inner-padding-bottom;
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    opacity: 0.5;
  }

  &.pgn__modal-body-scroll-bottom {
    &::before {
      opacity: 0.5;
    }

    &::after {
      opacity: 0;
    }
  }

  &.pgn__modal-body-scroll-top {
    &::before {
      opacity: 0;
      z-index: -1;
    }

    &::after {
      opacity: 0.5;
    }
  }

  &.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 0;
    }
  }

  .pgn__modal-body-content {
    text-align: start;

    > *:last-child {
      margin-bottom: 0;
    }

    // Avoid doubling up on padding with containers
    > .container-fluid {
      padding: 0;
    }
  }

  .pgn__modal.pgn__modal-scroll-fullscreen & {
    box-shadow: none;
  }
}

.pgn__modal-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: $modal-content-bg;
  transition: box-shadow 150ms ease;
  padding: $modal-footer-padding;
  padding-top: calc(#{$modal-inner-padding} / 2);
}

// Color Variants

.pgn__modal-default {
  // Default style modals don't have a background on the header which
  // ends up looking spaced too far away from the body content.
  .pgn__modal-header {
    padding-bottom: calc(#{$modal-inner-padding} / 2);
  }

  .pgn__modal-body {
    padding: calc(#{$modal-inner-padding} / 2) $modal-inner-padding;

    &::before {
      top: calc(#{$modal-inner-padding} / 2 * -1);
    }
  }
}

.pgn__modal-dark {
  .pgn__modal-header,
  .pgn__modal-hero {
    background-color: var(--mono-700);
    color: var(--mono-100);

    * {
      color: inherit;
    }
  }

  .pgn__modal-header {
    border-bottom: solid 1px var(--mono-400);
  }
}

.pgn__modal-warning .pgn__modal-header {
  background-color: var(--red-500);
}

.pgn__modal-danger .pgn__modal-header {
  background-color: var(--red-500);
}

.pgn__modal-success .pgn__modal-header {
  background-color: var(--green-500);
}

// Modal types

.pgn__alert-modal {
  &.pgn__modal-default {
    .pgn__modal-header {
      padding-bottom: 0;
    }
  }

  &.pgn__modal-warning {
    .pgn__alert-modal__title_icon {
      color: var(--green-500);
    }
  }

  &.pgn__modal-success {
    .pgn__alert-modal__title_icon {
      color: $success-500;
    }
  }

  &.pgn__modal-danger {
    .pgn__alert-modal__title_icon {
      color: $danger-500;
    }
  }

  .pgn__modal-title {
    font-size: rem-calc(18);
    display: flex;
    flex-grow: 1;
    align-items: center;

    .pgn__alert-modal__title_icon {
      flex-shrink: 0;
      margin-right: map-get($spacers, 2\.5);
    }
  }
}

// Course "Cards"

.course-card {
  margin-bottom: 2rem;

  > .card {
    flex-direction: row;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--mono-100);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
  }

  
}

.pgn__card-wrapper-image-cap {
  max-width: rem-calc(240);
  min-width: rem-calc(240);
  position: relative;

  img {
    height: 100%;
    max-width: inherit;
    -o-object-fit: cover;
    object-fit: cover;
    width: auto;
    display: block;
  }
}

// card body

.pgn__card-body {
  padding: 1.25rem;
  width: 100%;
}
.pgn__card-header {
  display: flex;
  justify-content: space-between;
}

.pgn__card-header-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: start;
  width: 100%;
}

.pgn__card-section {
  flex-grow: 1;
  text-align: start;
  margin: 1rem 0 1.25rem;
}


.pgn__card-footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;

  @include breakpoint(medium, min) {
    justify-content: flex-end;
  }
}

.pgn__card-header-actions {
  flex-shrink: 0;
  margin-inline-start: 1rem;
}

.dropdown {
  position: relative;
}

.pgn__action-row {
  button[disabled] {
    display: none;
    margin-right: 1rem;
  }
}


// Grade required to pass...
.course-card-banners {

}

.alert-info {
  border-radius: 0;
  box-shadow: none;
  padding: 1rem 1.5rem;
  background-color: var(--mono-300);
  border-color: #bfdbea;
  color: inherit;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: start;
}

.alert .alert-icon {
  flex-shrink: 0;
  height: 1.5rem;
  margin-inline-end: 0.8rem;
  width: 1.5rem;
}
