// | -------------------------------------------------------------
// | This file is intended to only serve the Course About MFE
// | -------------------------------------------------------------

@use 'shared';

@use 'mfe/buttons';


.gym-course-about {
  main {
    margin-top: 0;
  }
}

.course-header, .course-overview {
  padding: 2rem 0;
}

// TODO: move to layouts partial
.layout-sidebar {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "header"
    "content"
    "sidebar";

  @media (min-width: 52em) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header  header"
      "content sidebar"
  }

  > header {
    grid-area: header;
  }

  > div {
    grid-area: content;
  }

  > aside {
    grid-area: sidebar;
  }
}