---js
{
  layout: "layouts/full-width.njk",
  pagination: {
    data: "courses",
    size: 1,
    alias: "item",
    resolve: "values",
    before: (data) => {
      const items = data.filter(x => x.tags.includes('course'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "courses/{{ item.title | slugify }}/",
  eleventyComputed: {
    nav: {
      parent: "/courses/",
      secondary: "courses",
      secondaryParent: (data) => {
        return `/courses/${data.item.path_slug}/`;
      },
    },
    meta: {
      bodyClass: (data) => {
        const slug = data.item.title.toLowerCase().replaceAll(' ','-');
        return `course-about ${data.item.path_slug} ${slug} ${data.item.id.toLowerCase()}`;
      },
      img: (data) => {
        return `${data.config.paths.img.og}courses/${data.item.id.toLowerCase()}.png`;
      },
      title: "{{ item.title }} | Courses",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: (data) => {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
      redirectFrom: (data) => {
        const redirect = data.item.redirectFrom ? data.item.redirectFrom : false;
        return redirect;
      },
      schema: {
        type: "course"
      }
    },
  },
}
---

<article class="course-about">
  <header id="{{ item.id }}" class="course-header {{ item.id }} bg-mono-400">
    <div class="container grid-col-1-2">
      <figure
        style='border-image-source: url("/img/courses/svg/{{ item.id | lowercase }}.svg");'
      >
        <img
          src="{{config.cms_url}}{{item.img}}"
          alt="Course image for {{item.title}}"
        />
      </figure>

      <div class="course-metabar">
        <div class="course-title"><h1>{{ item.title }}</h1></div>
        <div class="course-type"><p>{{ course_type[item.type].name }}</p></div>
        <h4 class="course-id" hidden>{{ item.id }}</h4>

        {# For live courses showing an advance course retirement notice #}
        {%- if (item.live) and (item.retired_message.pre) -%}
          {%- if item.retired_message.pre -%}
            <p>{{ item.retired_message.pre | safe }}</p>
          {%- endif -%}
        {%- endif -%}

        {# For non-live courses displaying a post retirement notice #}
        {%- if (not item.live) and (item.retired_message.post) -%}
          {%- if item.retired_message.post -%}
            <p>{{ item.retired_message.post | safe }}</p>
          {%- endif -%} 
        {%- endif -%}

        <div class="course-cta">
          {%- if (item.live) -%}
          <a href="{{ item.id | course_endpoint('learning') }}" class="btn">Go to Course</a>
          {%- else -%}
          <button disabled class="disabled">Enrollment is Closed</button>
          {%- endif -%}
        </div>
      </div>
    </div>
  </header>

  <div class="container grid-sidebar">
    <div class="content">
      <section class="course-intro">
        {%- if item.intro -%}
          <p>{{ item.intro | safe }}</p>
        {%- endif -%}
      </section>
      
      {%- if item.preview_video_id -%}
      <section class="course-preview">
        <h2>{{ config.msg.mfe.course_about.headings.preview }}</h2>

        {# TODO: fix shortcode to support all the embed variations #}
        {%- youtube item.preview_video_id, item.title + ' Preview' -%}

      </section>
      {%- endif -%}

      <section class="course-about">
        <h2>{{ item.title }}</h2>
        {{ item.about | safe }}
      </section>

      <section class="course-outline">
        <h2>{{ config.msg.mfe.course_about.headings.outline }}</h2>
        {%- if item.outline -%}
        <ul>
          {%- for idx in range(0, item.outline.length) -%}
          <li>
            <h3>{{ item.outline[idx].label }}</h3>
            <p>{{ item.outline[idx].description }}</p>
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </section>
      <section class="course-prerequisites">
        <h2>{{ config.msg.mfe.course_about.headings.prerequisites }}</h2>
        {%- if item.prerequisites | is_object -%}
          <ul>
          {%- for idx in range(0, item.prerequisites.length) -%}
            <li>{{ item.prerequisites[idx].label | safe }}</li>
          {%- endfor -%}
          </ul>
        {%- else -%}
          {{ item.prerequisites | safe }}
        {%- endif -%}
      </section>

      <section class="course-requirements">
        <h2>{{ config.msg.mfe.course_about.headings.requirements }}</h2>
        {%- if item.requirements | is_object -%}
          <ul>
          {%- for idx in range(0, item.requirements.length) -%}
            <li>{{ item.requirements[idx].label | safe }}</li>
          {%- endfor -%}
          </ul>
        {%- else -%}
          {{ item.requirements | safe }}
        {%- endif -%}
      </section>
    </div>
    <aside>
      <h2>{{ config.msg.mfe.course_about.headings.audience }}</h2>
      <ul>
        {%- for idx in range(0, item.audience.length) -%}
        <li>{{ item.audience[idx].label }}</li>
        {%- endfor -%}
      </ul>

      <h2>{{ config.msg.mfe.course_about.headings.instructor }}</h2>
      <img
        src="{{ bios[item.instructor].img }}"
        alt="Image of {{ bios[item.instructor].name }}"
      />
      <h3>{{ bios[item.instructor].name }}</h3>
      <p>{{ bios[item.instructor].description | safe }}</p>

      {%- if bios[item.instructor].extended_description -%} {{
      bios[item.instructor].extended_description | safe }} {%- endif -%}
    </aside>
  </div>
</article>
