---js
{
  layout: "layouts/full-width.njk",
  pagination: {
    data: "courses",
    size: 1,
    alias: "item",
    resolve: "values",
    before: function(data) {
      const items = data.filter(x => x.tags.includes('course'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "courses/{{ item.title | slugify }}/",
  eleventyComputed: {
    nav: {
      parent: "/courses/",
      secondary: "courses",
      // do a fancy work-around to construct the `gym-shorts` path if the course type is "short"
      secondaryParent: function(data) {
        const path = data.item.type === 'short' ? `gym-${data.item.type}s` : data.item.type;
        return `/courses/${path}/`;
      },
    },
    meta: {
      title: "{{ item.title }} | Courses",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: function(data) {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
    },
  },
}
---

<article class="course-about">
  <header id="{{ item.id }}" class="course-header {{ item.id }} bg-mono-400">
    <div class="container grid-col-1-2">
      <figure
        style='border-image-source: url("/img/courses/svg/{{ item.id | lowercase }}.svg");'
      >
        <img
          src="{{config.cms_url}}{{item.img}}"
          alt="Course image for {{item.title}}"
        />
      </figure>
      <div class="course-metabar">
        <div class="course-title"><h1>{{ item.title }}</h1></div>
        <div class="course-type"><p>{{ course_type[item.type].name }}</p></div>
        <h4 class="course-id" hidden>{{ item.id }}</h4>
        <div class="course-cta"><button class="btn">Go to Course</button></div>
      </div>
    </div>
  </header>

  <div class="container grid-sidebar">
    <div class="content">
      <section class="course-intro">
        {%- if item.intro -%}
          <p>{{ item.intro | safe }}</p>
        {%- endif -%}
      </section>
      <section class="course-preview">
        <h2>{{ config.msg.mfe.course_about.headings.preview }}</h2>

        {# TODO: fix shortcode to support all the embed variations #}
        {%- if item.preview_video_src -%}
          {%- youtube item.preview_video_src -%}
        {%- endif -%}
        {# <div class="embed-responsive embed-responsive-16by9 iframe-video-holder ratio-16-9"><iframe width="100%" height="425" frameborder="0" src="https://www.youtube.com/embed/v6TTlIou8UA" allow="encrypted-media" allowfullscreen="" title="Modern Web Design Preview"></iframe>
        </div> #}

      </section>

      <section class="course-about">
        <h2>{{ item.title }}</h2>
        {{ item.about | safe }}
      </section>

      <section class="course-outline">
        <h2>{{ config.msg.mfe.course_about.headings.outline }}</h2>
        {%- if item.outline -%}
        <ul>
          {%- for idx in range(0, item.outline.length) -%}
          <li>
            <h3>{{ item.outline[idx].label }}</h3>
            <p>{{ item.outline[idx].description }}</p>
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </section>
      <section class="course-prerequisites">
        <h2>{{ config.msg.mfe.course_about.headings.prerequisites }}</h2>
        <ul>
        {%- for idx in range(0, item.prerequisites.length) -%}
          <li>{{ item.prerequisites[idx].label | safe }}</li>
        {%- endfor -%}
        </ul>
      </section>
      <section class="course-requirements">
        <h2>{{ config.msg.mfe.course_about.headings.requirements }}</h2>
        <ul>
        {%- for idx in range(0, item.requirements.list.length) -%}
          <li>{{ item.requirements.list[idx].label | safe }}</li>
        {%- endfor -%}
        </ul>
      </section>

      {# TODO: sort out the retired message business #}
      {%- if (not item.live) and (item.retired_message) -%}
        <p>{{ item.description | safe }}</p>

        {%- if item.retired_message[1] -%}
          <p>{{ item.retired_message[1] | safe }}</p>
        {%- endif -%}
        {%- if item.retired_message[2] -%}
          <p>{{ item.retired_message[2] | safe }}</p>
        {%- endif -%} 

      {%- else -%}
        <p>{{ item.description | safe }}</p>
      {%- endif -%}

    </div>
    <aside>
      <h2>{{ config.msg.mfe.course_about.headings.audience }}</h2>
      <ul>
        {%- for idx in range(0, item.audience.length) -%}
        <li>{{ item.audience[idx].label }}</li>
        {%- endfor -%}
      </ul>

      <h2>{{ config.msg.mfe.course_about.headings.instructor }}</h2>
      <img
        src="{{ bios[item.instructor].img }}"
        alt="Image of {{ bios[item.instructor].name }}"
      />
      <h3>{{ bios[item.instructor].name }}</h3>
      <p>{{ bios[item.instructor].description | safe }}</p>

      {%- if bios[item.instructor].extended_description -%} {{
      bios[item.instructor].extended_description | safe }} {%- endif -%}
    </aside>
  </div>
</article>
