---
layout: layouts/main.njk
permalink: /courses/
collection: course
meta:
  title: Courses
  sitemapPriority: 0.7
  sitemapChangeFreq: weekly
nav:
  secondary: courses
intro:
  heading: Courses
  subheading: Free online courses and tutorials.
  content: Learn design, development, UX, accessibility, and career skills from industry experts.
---
<header>
  <h1>{{ intro.heading }}</h1>
  <p><strong>{{ intro.subheading }}</strong> {{ intro.content }}</p>
</header>

<h2>Full Courses</h2>
<ul>
{% for course in collections.live_courses_full %}
  <li>{{ course.id }} | 
    <a href="{{ config.urls.mfe }}
      {%- if (env.ELEVENTY_ENV == 'local' and config['ports']['course_about']) %}:{{ config['ports']['course_about'] }}{% endif -%}
      /courses/course-v1:{{ course.id | replace('-','+')}}+0/about">
      {{ course.title }}
      <img style="max-width: 5rem;" src="{{config.urls.cms}}{{course.img}}" alt="Image for {{course.title}}">
    </a>
  </li>
{% endfor %}
</ul>

<h2>Short Courses (Gym Shorts)</h2>
<ul>
{% for course in collections.live_courses_short %}
  <li>{{ course.id }} | 
    <a href="/courses/{{ course.title | slugify }}">
      {{ course.title }}
      <img style="max-width: 5rem;" src="{{config.urls.cms}}{{course.img}}" alt="Image for {{course.title}}">
    </a>
  </li>
{% endfor %}
</ul>
