---
permalink: /feeds/config.json
eleventyExcludeFromCollections: true
---
{%- set footer -%}{%- include 'layouts/components/footer.njk' -%}{%- endset -%}
{%- set footer = footer | stringify -%}
{# Important: note the inclusion of double quotes when replacing '"FOOTER_HTML"' #}
{%- set config = config
  | stringify
  | replace('"FOOTER_HTML"', footer)
  | replace('GYM_ROOT_URL', config.urls.root)
  | replace('GYM_LMS_URL', config.urls.lms)
  | replace('GYM_MFE_URL', config.urls.mfe)
  | replace('GYM_DATA_URL', config.urls.data)
  | replace('"BIOS_DATA"', bios | stringify)
  | replace('"COURSES_DATA"', courses | stringify)
  | replace('"MARKETS_STATIC"', markets.items | stringify)
  | replace('"MARKETS_LIVE"', data.markets | stringify)
-%}
{{ config | safe }}
